@import "../../../common/flip.scss";
@import "../../../common/colors";
@import "../../../common/variables";


@keyframes revealNudge {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(30deg);

  }
  50% {
    transform: rotateY(0deg);
  }
  75% {
    transform: rotateY(-15deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.booster-store-wrapper {
  position: relative;
  width: 626px;
  flex-grow: 1;
  margin: 25px auto 0 auto;
  background: linear-gradient(180deg, rgba(54, 38, 95, 0.3) 0%, rgba(54, 38, 95, 0) 100%);

  .close-icon {
    position: absolute;
    z-index: 10;
    top: -25px;
    right: 0;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover {
      opacity: 0.8;
    }
  }

  .booster-text {
    color: $yellow;
    font-family: $font-secondary;
    font-size: 13px;
    text-align: center;
  }

  .booster-empty-text {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 8px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-transform: uppercase;

    width: 50px;
    height: 50px;

    color: #FFFFFF;
    opacity: 0.2;
    text-shadow: 0 0 30px rgba(33, 35, 234, 0.7);
  }

  .booster-placeholder, .open-booster-placeholder {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  .booster-text-gradient {
    font-family: $font-secondary;
    font-size: 16px;
    background: linear-gradient(to bottom, $yellow 0%, rgba(255, 157, 20, 0.23) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .open-booster-placeholder {
    display: none;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    max-width: 100px;
    font-size: 30px;
    text-shadow: 0 0 38px #000000;
    bottom: 45px;
  }

  .booster-button {
    cursor: pointer;
    outline: none;
    margin: 0 0 11px 0;
    width: auto;
    padding-top: 2px;

    &.button-buying {
      border: none;
      background: none;
      div {
        display: inline;
        margin-right: 10px;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .booster-store-body {
    text-align: center;
    height: 400px;
    overflow: auto;
  }

  .reveal-text {
    font-size: 27px;
    margin: 0;
  }

  .reveal-done-button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .revealed-cards {
    display: flex;
    padding: 10px 25px 25px 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .revealed-card {
      display: inline-block;
      margin-right: 18px;
      width: 145px;
      height: 252px;
      margin-bottom: 30px;


      .front:hover {
        animation: revealNudge 0.5s linear;
      }

      img {
        width: 145px;
        height: 252px;
      }
    }
  }

  .shop-funds {
    display: flex;
    width: 100%;
    font-size: 13px;
    color: #fff;
    line-height: 26px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    justify-content: center;

    img {
      display: inline;
      height: 26px;
      width: 26px;
      margin-right: 4px;
    }
  }

  .loading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    font-size: 20px;

    span {
      font-weight: bold;
      margin-right: 20px;
    }
  }

  .boosters {
    position: relative;
    min-height: 227px;

    .booster {
      position: absolute;
      display: inline-block;
      color: #fff;
      max-width: 154px;

      .num-of-boosters {
        display: none;
        position: absolute;
        top: 30px;
        right: 35px;
        font-family: Baloo;
        font-size: 18px;

        text-shadow: 0 0 44px #000000;
        color: $yellow;
      }

      img {
        height: 227px;
        width: 154px;
      }

      .circle-loader-wrapper {
        position: absolute;
        top: 90px;
        left: 53px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $yellow;

        div {
          margin-top: -10px;
          font-size: 13px;
          font-family: $font-secondary;
          text-shadow: 0 0 44px #000000;
        }
      }

      .blocks-loading-bar {
        width: 108px;
        margin: auto;
        position: absolute;
        bottom: 24px;
        left: 0;
        right: 0;
      }

      &.booster-right {
        z-index: 1;
        left: 150px;
        right: 0;
        margin: auto;
        top: 10px;

        img {
          height: 206px;
          width: 140px;
        }

        .blocks-loading-bar {
          width: 98px;
        }
      }

      &.booster-left {
        z-index: 1;
        right: 150px;
        left: 0;
        margin: auto;
        top: 10px;

        img {
          height: 206px;
          width: 140px;
        }

        .blocks-loading-bar {
          width: 98px;
        }
        .booster-placeholder {
          font-size: 14px;
        }
      }

      &.booster-middle {
        z-index: 2;
        left: 0;
        right: 0;
        margin: auto;

        .num-of-boosters {
          display: block;
        }

        &:hover {
          .booster-placeholder {
            font-size: 13px;
          }
          .open-booster-placeholder {
            display: block;
          }
        }
      }

      .front, .back {
        background-size: cover;
        width: 100%;
        height: 100%;
      }

      .booster-name {
        position: absolute;
        top: 30px;
        left: 20px;
      }

      .booster-price {
        position: absolute;
        top: 80px;
        left: 20px;
      }

      .front span {
        color: white;
        position: absolute;
        top: 110px;
        left: 20px;
        width: 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .back {
        text-align: center;

        button:disabled {
          cursor: inherit;
        }
      }

      .booster-reveal {
        position: relative;
        top: 30px;
        cursor: pointer;
        outline: none;
        background-color: #fff;
        border: 0;
        color: #000;
        width: 100px;
        height: 30px;

        &:active {
          font-weight: bold;
        }
      }
    }
  }
}
