@import "../../../common/flip.scss";
@import "../../../common/colors";

.booster-store-wrapper {
  max-width: 1200px;
  margin: auto;

  .booster-store-header {
    margin: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;

    .buying {
      display: flex;
      align-items: center;
    }

    button {
      cursor: pointer;
      padding: 10px;
    }

    span span {
      margin-right: 5px;
    }

    h1 {  margin: 0;  }
  }

  .boosters-wrapper {
    margin: 20px;
  }

  .loading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    font-size: 20px;

    span {
      font-weight: bold;
      margin-right: 20px;
    }
  }

  .boosters {
    padding: 20px;

    .booster {
      display: inline-block;
      position: relative;
      height: 336px;
      width: 200px;
      border: 1px solid #000;
      margin-right: 10px;
      color: #fff;

      .front, .back {
        background-size: cover;
        width: 100%;
        height: 100%;
      }

      .booster-name {
        position: absolute;
        top: 30px;
        left: 20px;
      }

      .booster-price {
        position: absolute;
        top: 80px;
        left: 20px;
      }

      .front span {
        color: white;
        position: absolute;
        top: 110px;
        left: 20px;
        width: 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .back {
        text-align: center;

        button:disabled {
          cursor: inherit;
        }
      }

      .booster-reveal {
        position: relative;
        top: 30px;
        cursor: pointer;
        outline: none;
        background-color: #fff;
        border: 0;
        color: #000;
        width: 100px;
        height: 30px;

        &:active {
          font-weight: bold;
        }
      }
    }
  }
}
