@import '../../common/variables';
@import "../../common/colors";
@import "../../common/text";

.projects-wrapper {
  width: 133px;
  height: 5px;

  @include for-big-desktop {
    width: 190px;
  }

  .projects-header {
    text-align: center;
    margin-bottom: 25px;

    @include for-big-desktop {
      margin-bottom: 41px;
    }

    .bar-wrapper .bar-text {
      left: 95px;
    }
  }

  .active-projects-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .drop-slots-wrapper {
    justify-content: normal;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100px;

    @include for-big-desktop {
      width: 142px;
    }

    .drop-slot-component {
      &.drop-slot-active, &.drop-slot-item-hover {
        background: inherit;
      }
    }
  }

  .projects-slots-wrapper {
    height: $project-size;
    width: $project-size;
    margin-bottom: 14px;

    @include for-big-desktop {
      height: $project-size-desktop;
      width: $project-size-desktop;
    }

    &:nth-child(2n) {
      position: relative;
      top: 30px;
    }

    .empty-project {
      font-size: 8px;
      border: none;
      color: #fff;
      opacity: 0.44;
    }
  }
}
