@import '../../common/variables';
@import "../../common/colors";
@import "../../common/text";

.projects-wrapper {
  width: 133px;
  height: 5px;

  //@include for-big-desktop {
  //  width: 190px;
  //}

  .projects-header {
    margin-bottom: 36px;

    .bar-wrapper {
      color: white;

      svg {
        transform: rotateY(180deg);
      }

      .section-header-main-text {
        left: 16px;
      }

      .section-header-sub-text {
        right: 6px;
        left: inherit;
      }
    }
  }

  .active-projects-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .drop-slots-wrapper {
    justify-content: normal;
    flex-direction: row;
    flex-wrap: wrap;

    .drop-slot-component {
      &.drop-slot-active, &.drop-slot-item-hover {
        background: inherit;
      }
    }
  }

  .projects-slots-wrapper {
    height: $project-size;
    width: $project-size;
    margin-bottom: 16px;

    &:nth-child(2n) {
      position: relative;
      margin-left: 19px;
    }
  }
}
