@import "../../common/colors";
@import "../../common/text";

$project-size: 50px;

.projects-wrapper {
  width: 133px;
  margin-top: 120px;
  height: 5px;

  .projects-header {
    text-align: center;
    font-size: $font-size-extra-large;
    margin-bottom: 25px;
  }

  .no-projects {
    margin: 20px;
    line-height: 22px;
  }

  .active-projects-wrapper {
    display: flex;
    height: 100%;
  }

  .drop-slots-wrapper {
    justify-content: normal;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projects-slots-wrapper {
    height: $project-size;
    width: $project-size;
    margin-bottom: 5px;

    background: linear-gradient(180deg, #22183B 0%, #1F1638 53.59%, #150F24 100%);
    border: 1px solid #36265F;
    box-shadow: 0 0 14px #06040D;
    box-sizing: content-box;
    border-radius: 100%;

    &.drop-slot-item-hover {
      opacity: 0.5;
    }

    &:nth-child(2n) {
      position: relative;
      top: 30px;
    }

    &.drop-slot-finished {
      box-shadow: 0 0 14px #653BD1;
    }
  }

  .empty-project {
    font-family: "Roboto", sans-serif;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border: 1px dashed #36265F;
    border-radius: 100%;
    margin: 3px;
    text-shadow: 0 0px 30px rgba(33, 35, 234, 0.7);
    padding: 9px 10px;
    color: #fff;
    opacity: 0.44;
    font-size: 8px;
    line-height: 9px;
    text-align: center;
  }
}
