@import '../../common/colors';
@import '../../common/variables';

.location-sidebar-item-wrapper {
  position: relative;

  .location-sidebar-small {
    position: relative;
    cursor: pointer;
    display: flex;
    width: 61px;
    height: 49px;
    align-items: center;
    justify-content: center;

    &:hover .actions {
      pointer-events: all;
      opacity: 1;
      transform: translateX(0px);
    }

    .sidebar-item-not-active {
      position: relative;
      top: 4px;
      z-index: 1;
    }

    .actions {
      left: 40px;
      top: 3px;

      > div {
        //svg path { fill: $light-purple; }
        //.close-icon svg line { stroke: $light-purple; }
      }
    }
  }

  .location-sidebar-big {
    position: relative;
    cursor: pointer;
    width: 115px;
    height: 58px;

    .sidebar-item-active {
      position: absolute;
      bottom: -17px;
      right: -19px;
      z-index: 1;
    }

    &:hover {
      .actions {
        pointer-events: all;
        opacity: 1;
        transform: translateX(0px);
      }
      //.location-data { display: none; }
      //.location-inner-gradient {
        //fill: url(#paint0_linear1_hover) !important;
      //}
    }

    .location-data {
      position: absolute;
      left: 5px;
      bottom: 8px;
      color: white;
      white-space: nowrap;
      text-transform: uppercase;
      z-index: 2;

      .loc-name {
        width: 100px;
        font-size: 13px;
        line-height: 20px;
        @include ellipsis;
      }

      .loc-lvl {
        font-size: 11px;
        opacity: 0.5;
        line-height: 10px;
      }
    }

    .actions {
      left: 112px;
      top: 6px;
    }
  }

  .actions {
    background: linear-gradient(270.4deg, #453A7C 37.27%, rgba(69, 58, 124, 0) 83.98%);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 45px;
    width: 35px;
    position: absolute;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: all .2s;
    display: flex;

    opacity: 0;
    transform: translateX(-20px);
    pointer-events: none;

    > div {
      transition: all 0.2s;
      cursor: pointer;
      padding: 2px 7px;
      text-align: right;
      z-index: 5;
      position: relative;
      width: 30px;
      display: inline-block;
      line-height: 16px;

      svg {
        width: 10px;
        height: 10px;
      }
      &:hover {
        opacity: 0.7;
        //transform: scale(1.2);
      }
      &:first-child {
      }
      &:last-child {
      }
    }
  }
  .fpb {
    width: 130px;
    position: absolute;
    top: 15px;
    left: 62px;

    @include elementInAndOut;

    @include for-big-desktop {
      font-size: 17px;
      width: 200px;
      left: 154px;
    }
  }

  .rarity-border {
    &.gold svg {
      .outer-ring { stroke: $gold-rarity; }
      .horizontal-lines, .bars, .right-line { stop { stop-color: $gold-rarity; } }
    }

    &.blue svg {
      .outer-ring { stroke: $blue-rarity }
      .horizontal-lines, .bars, .right-line { stop { stop-color: $blue-rarity; } }
    }

    &.purple svg {
      .outer-ring { stroke: $purple-rarity; }
      .horizontal-lines, .bars, .right-line { stop { stop-color: $purple-rarity; } }
    }
  }

  &.dragging-success.level-up-success {
    .location-sidebar-small, .location-sidebar-big {
      .outer-ring { stroke: $empty-slot-can-drop; }
      .horizontal-lines, .bars, .right-line { stop { stop-color: $empty-slot-can-drop; } }
    }
  }

  &.dragging-success.level-up-fail {
    .location-sidebar-small, .location-sidebar-big {
      .outer-ring { stroke: $red; }
      .horizontal-lines, .bars, .right-line { stop { stop-color: $red; } }
    }
  }
}
