@import '../../common/colors';
@import '../../common/variables';

.location-sidebar-item-wrapper {

  .location-sidebar-small {
    position: relative;
    cursor: pointer;
    display: flex;
    width: 61px;
    height: 49px;
    align-items: center;
    justify-content: center;

    &:hover .actions {
      display: flex;
    }

    .sidebar-item-not-active {
      position: relative;
      top: 4px;
    }

    .actions {
      left: 64px;
      top: 12px;
      width: 32px;
      height: 15px;

      > div {
        svg path { fill: $light-purple; }
        .close-icon svg line { stroke: $light-purple; }
      }
    }
  }

  .location-sidebar-big {
    position: relative;
    cursor: pointer;
    width: 115px;
    height: 58px;

    .sidebar-item-active {
      position: absolute;
      bottom: -17px;
      right: -19px;
    }

    &:hover {
      .actions { display: flex; }
      .location-data { display: none; }
      .location-inner-gradient {
        fill: url(#paint0_linear1_hover) !important;
      }
    }

    .location-data {
      position: absolute;
      left: 5px;
      bottom: 8px;
      color: white;
      white-space: nowrap;
      text-transform: uppercase;

      .loc-name {
        width: 70px;
        font-size: 13px;
        line-height: 20px;
        @include ellipsis;
      }

      .loc-lvl {
        font-size: 11px;
        opacity: 0.5;
        line-height: 10px;
      }
    }

    .actions {
      left: 75px;
      top: 10px;
      width: 32px;
    }
  }

  .actions {
    display: none;
    position: absolute;
    flex-direction: row-reverse;
    justify-content: space-between;

    > div {
      transition: all 0.2s;
      cursor: pointer;
      padding: 10px 5px;
      svg {
        width: 10px;
        height: 10px;
      }
      &:hover {
        opacity: 0.7;
        transform: scale(1.2);
      }
      &:first-child {
        padding-right: 10px;
      }
    }
  }

  .rarity-border {
    &.gold svg {
      .outer-ring { stroke: $gold-rarity; }
      .horizontal-lines, .bars, .right-line { stop { stop-color: $gold-rarity; } }
    }

    &.blue svg {
      .outer-ring { stroke: $blue-rarity }
      .horizontal-lines, .bars, .right-line { stop { stop-color: $blue-rarity; } }
    }

    &.purple svg {
      .outer-ring { stroke: $purple-rarity; }
      .horizontal-lines, .bars, .right-line { stop { stop-color: $purple-rarity; } }
    }
  }

  &.dragging-success.level-up-success {
    .location-sidebar-small, .location-sidebar-big {
      .outer-ring { stroke: $empty-slot-can-drop; }
      .horizontal-lines, .bars, .right-line { stop { stop-color: $empty-slot-can-drop; } }
    }
  }

  &.dragging-success.level-up-fail {
    .location-sidebar-small, .location-sidebar-big {
      .outer-ring { stroke: $red; }
      .horizontal-lines, .bars, .right-line { stop { stop-color: $red; } }
    }
  }
}
