@import '../../common/variables';
@import '../../common/colors';

.empty-project-slot-wrapper {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  border: 1px solid $purple;
  border-radius: 100%;
  padding: 2px;
  text-shadow: 0 0 30px rgba(33, 35, 234, 0.7);
  color: #fff;
  font-size: 8px;
  line-height: 9px;
  text-align: center;

  &.can-drop {
    border: 1px solid $empty-slot-can-drop;
  }

  &.no-drop {
    border: 1px solid $red;
  }

  .empty-project-slot {
    border: 1px dashed $purple;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
