@import "../../../common/flip.scss";
@import "../../../common/colors";
@import "../../../common/variables";

.collection-wrapper {
  position: relative;
  width: 640px;
  flex-grow: 1;
  margin: 25px auto 0 auto;

  //@include for-big-desktop {
  //  width: 840px;
  //  margin-top: 45px;
  //}

  .collection-inner-wrapper {
    display: flex;
    justify-content: space-between;


    .sorting-wrapper {
      width: 135px;
    }
  }

  .header-bar {
    margin-bottom: 61px;
  }

  .collection-progress {
    text-align: center;
    color: $yellow;
    font-size: 27px;
    font-family: $font-secondary;
    text-shadow: 0 0 44px #000000;
    margin: 20px 0;
    span {
      font-family: $font-secondary;
      margin: 0 5px;
    }

    //@include for-big-desktop {
    //  font-size: 38px;
    //  margin: 25px 0;
    //}
  }

  .collection-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 380px;
    position: relative;
    //justify-content: space-between;
    box-sizing: border-box;
    width: 482px;
    padding: 5px 6px;

    //@include for-big-desktop {
    //  height: 632px;
    //}

    .large-card-wrapper {
      height: 142px;
      margin: 0 -4px 20px -4px;

      .card-title, .card-type {
        width: 96px;
        left: 11px;
        bottom: 25px;
        font-size: 8px;
      }

      .card-type {
        font-size: 7px;
        bottom: 4px;
      }

      .large-card-rarity.rarity-overlay {
        top: -24px;
        left: -13px;
        background-size: 145px;
        width: 145px;
        height: 200px;
      }

      svg {
        width: 120px;
        height: 157px;
        top: -8px;
      }

      .count-wrapper {
        position: absolute;
        color: white;
        font-size: 12px;
        top: 2px;
        right: 18px;
      }
    }
    .unknown {
      width: 98px;
      height: 142px;
      margin: 0 7px 20px;
      background-image: url('../RevealCards/bg-back2.png');
      background-position: center;
      background-size: cover;

      //@include for-big-desktop {
      //  width: $lg-card-desktop-width;
      //  height: $lg-card-desktop-height;
      //}
    }
  }

  .button-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .modal-buttons-bar {
      bottom: 25px;
    }
  }

  .new-card {
    position: absolute;
    right: 12px;
    top: 1px;
    width: 38px;
    height: 47px;
    overflow: hidden;

    span {
      position: relative;
      top: 4px;
      right: -8px;
      display: block;
      background-color: rgba(255, 157, 20, 0.8);
      width: 41px;
      height: 11px;
      transform: rotate(45deg);
      color: white;
      font-family: "Baloo", sans-serif;
      text-transform: uppercase;
      font-size: 8px;
      text-align: center;
    }
  }
}
