@import "../../common/colors";
@import "../../common/variables";
@import "../../common/text";

.menu-wrapper {
  margin-bottom: 5px;
  text-align: right;
  position: relative;

  //@include for-big-desktop {
  //  margin-bottom: 143px;
  //}

  .menu-buttons {
    display: flex;

    .save-button {
      margin-top: 22px;
      margin-left: 5px;

      .future-button.reverse {
        width: 75px;

        .button-text-wrapper {
          left: -4px;
        }

        &:before {
          background: url('../FutureButton/SideRightReverse.svg');
          transform: rotate(0deg);
          top: 6px;
          right: -1px;
        }
      }
    }

    .menu-button {
      margin-top: 22px;
      margin-left: 10px;

      .future-button {
        width: 38px;

        &:after {
          left: -11px;
        }

        &:before {
          transform: rotateY(180deg);
          right: -19px;
          top: 6px;
          left: auto;
        }
      }
    }
  }
}
