@import "../../common/colors";
@import "../../common/variables";
@import "../../common/text";

.menu-wrapper {
  border-right: 1px solid $border-color;
  height: 100%;
  width: 200px;

  .buy-booster-wrapper {
    padding: 20px;
    text-align: center;

    button {
      @include fancy-button;
      font-size: $font-size-regular;
      margin: 0;
    }
  }

  .separator {
    border-bottom: 1px solid $border-color;
    margin: 18px 0 20px 0;
  }

  .block-number-wrapper {
    line-height: 25px;
  }

  .stats-wrapper {
    text-align: left;

    div {
      margin-bottom: 10px;
      font-size: $font-size-large;
    }
  }
}
