@import "../../common/colors";
@import "../../common/variables";
@import "../../common/text";

.menu-wrapper {
  height: 40px;
  width: 110px;
  margin-bottom: 70px;
  text-align: right;

  .hamburger {
    display: inline-block;
    position: relative;
    width: 40px;
    span {
      color: $yellow;
      transform: rotate(90deg);
      padding: 10px;
      display: inline-block;
      font-size: 20px;
      letter-spacing: 2px;
      cursor: pointer;
      user-select: none;
    }
    .menu {
      display: none;
      width: 150px;
      background-color: black;
      position: absolute;
      top: 40px;
      right: 0;
      z-index: 1;
      box-shadow: 0 0 5px 2px rgba(black, .5);
      a {
        display: block;
        cursor: pointer;
        text-decoration: none;
        padding: 10px;
        color: $yellow;
      }
    }
    &:hover .menu {
      display: block;
    }
  }
}
