.bonus-cost-icon {
  width: 19px;
  height: 19px;
  background: url("./BonusCostIcons.png") center center no-repeat;
  background-size: 100%;

  &.funds { background-position: 0 0; }
  &.experience { background-position: 0 -29px; }
  &.power { background-position: 0 -57px; }
  &.space { background-position: 0 -87px; }
  &.development { background-position: 0 -116px; }
  &.level { background-position: 0 -145px; }
}