.bonus-cost-icon {
  width: 23px;
  height: 23px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &.funds { background-image: url("./funds.png") }
  &.experience { background-image: url("./exp.png") }
  &.power { background-image: url("./power.png") }
  &.space { background-image: url("./space.png") }
  &.development { background-image: url("./dev.png") }
  &.level { background-image: url("./lvl.png") }
}