@import "../../common/variables";

.modal-backdrop {
  position: fixed;
  outline: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(#130D23, 0);
  transition: all 0.15s ease-out;
  text-align: center;
  visibility: hidden;
  font-family: $font-primary;

  .modal-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .modal {
    margin-top: 0;
    top: 0;
    transform: translateY(-70px);
    opacity: 0;
    transition: all 0.3s ease-out;
    border-bottom-left-radius: $border-radius-modal;
    border-bottom-right-radius: $border-radius-modal;

    .modal-header {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;

      h1 {
        margin: 0;
      }

      .icon-close {
        display: flex;
        position: absolute;
        right: 0;
        top: -25px;
        z-index: 2;
        outline: none;
        cursor: pointer;
        transition: 0.2s ease-in;

        //@include for-big-desktop {
        //  transform: scale(1.35);
        //  right: 3px;
        //}

        &:hover {
          opacity: 0.6;
        }
      }
    }

    .modal-body {
      color: white;
      text-align: left;
    }
  }

  &.open {
    background-color: rgba(#130D23, .8);
    z-index: 1000;
    //overflow: auto;
    visibility: visible;

    &.reveal-modal {
      //background: rgba(26, 18, 46, 0.9);

      .modal {
        transform: translateY(30px);

        //@include for-big-desktop {
        //  transform: translateY(170px);
        //}
      }
    }

    .modal {
      transform: translateY(0px);
      opacity: 1;

      //@include for-big-desktop {
      //  transform: translateY(130px);
      //}
    }
  }
}
