@import '../../../common/colors';
@import '../../../common/variables';

.new-level-modal-wrapper {
  height: 358px;
  background: linear-gradient(180deg, rgba(54, 38, 95, 0.3) 0%, rgba(54, 38, 95, 0) 100%);
  width: auto;
  min-width: 635px;

  .bar-name {
    width: 100px;
  }

  .main-text {
    text-align: center;

    .congratulation {
      font-family: $font-primary;
      margin: 39px 0 10px 0;
      font-size: 20px;
      text-transform: uppercase;
    }

    .level {
      font-family: $font-secondary;
      color: rgb(255, 157, 20);
      text-shadow: 0 0 44px #0D0A17;
      font-size: 87px;
      line-height: 80px;
    }
  }

  .reveal-cards-wrapper {}

  .button-wrapper {
    text-align: center;
  }
}
