@import '../../../common/colors';
@import '../../../common/variables';

.new-level-modal-wrapper {
  height: 358px;
  background: linear-gradient(180deg, rgba(54, 38, 95, 0.3) 0%, rgba(54, 38, 95, 0) 100%);
  width: auto;
  min-width: 635px;

  @include for-big-desktop {
    height: 602px;

    .modal-body {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .modal-body {
    background: $modal-bg-dark;
  }

  .bar-name {
    width: 100px;
  }

  .main-text {
    text-align: center;
    padding: 20px 0;

    .congratulation {
      font-family: $font-primary;
      margin-bottom: 10px;
      font-size: 20px;
      text-transform: uppercase;

      @include for-big-desktop {
        font-size: 24px;
      }
    }

    .secondary {
      font-family: $font-primary;
      font-size: 16px;

      @include for-big-desktop {
        margin-bottom: 10px;
        font-size: 20px;
      }
    }

    .level {
      font-family: $font-secondary;
      color: rgb(255, 157, 20);
      text-shadow: 0 0 44px #0D0A17;
      font-size: 87px;
      line-height: 80px;

      @include for-big-desktop {
        font-size: 103px;
      }
    }
  }

  .reveal-cards-wrapper {
    @include for-big-desktop {
      display: inline-flex;
    }
  }

  .button-wrapper {
    position: relative;
    margin-top: 8px;
    text-align: center;

    @include for-big-desktop {
      .orange-button {
        margin-left: 0;
      }
    }
  }
}
