.gameplay-item-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;

  &.hovering {
    background-color: #DEDEDE;
    color: #000;
  }

  > div {
    background-color: rgba(white, .8);
  }

  .container-slots {
    display: flex;
    height: 100%;

    .drop-slots-wrapper {
      margin: 0;
      flex-wrap: nowrap;

      .drop-slot-component {

        &.drop-slot-active {
          background-color: darken(#F2C5C5, 30);
        }

        &.drop-slot-item-hover {
          background-color: #F2C5C5;
          color: #000;
        }
      }
    }

    .container-slot {
      flex-grow: 1;
      border: 1px dashed red;
      width: 100%;
      display: flex;
      height: 100%;
    }
  }
}
