@import '../../common/variables';
@import '../../common/colors';

.gameplay-item-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;

  &.dragging-success.level-up-success.right-asset-type {
    .card-image .card-image-inner {
      stroke: $empty-slot-can-drop;
      stroke-width: 3px;
    }
  }

  &.dragging-success.level-up-fail.right-asset-type {
    .card-image .card-image-inner {
      stroke: $red;
      stroke-width: 3px;
    }
  }

  &.container {
    cursor: pointer;
  }

  .level-up {
    display: none;
  }

  .fpb {
    position: absolute;
    bottom: 90px;
    z-index: 20;

    @include elementInAndOut;
  }

  .asset-card-wrapper {
    position: relative;
  }

  .container-card-wrapper {
    position: relative;

    &.can-drop-miner {

      .card-details {

        .overlay {
          top: 2px;
          left: 2px;
          height: 96%;
          width: 94%;
        }

        .card-image .card-image-inner {
          stroke: $empty-slot-can-drop;
        }
      }
    }

    &.no-drop-miner {

      .card-details {

        .overlay {
          top: 2px;
          left: 2px;
          height: 96%;
          width: 96%;
        }

        .card-image .card-image-inner {
          stroke: $red;
        }
      }
    }
  }
}
