.gameplay-item-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;

  &.hovering {
    background-color: #DEDEDE;
    color: #000;
  }

  &.container {
    cursor: pointer;
  }

  .level-up {
    display: none;
  }
}
