@import '../../../common/colors';
@import '../../../common/variables';

.reveal-cards-wrapper {
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .revealed-card {
    display: inline-block;
    margin-right: 25px;
    width: 145px;
    height: 252px;
    margin-bottom: 30px;

    @include for-big-desktop {
      width: $lg-card-desktop-width;
      height: $lg-card-desktop-height;
    }

    &:last-of-type {
      margin-right: 0;
    }

    .rarity-overlay {
      position: absolute;
      top: -25px;
      left: -25px;
      width: 195px;
      height: 300px;
      background-size: cover;
      z-index: 1;
      &.rarity-blue {
        background-image: url('../../HoverInfo/scarce.png');
      }
      &.rarity-gold {
        background-image: url('../../HoverInfo/elite.png');
      }
      &.rarity-red {
        background-image: url('../../HoverInfo/rare.png');
      }

      @include for-big-desktop {
        width: 275px;
        height: 400px;
        top: -36px;
        left: -35px;
      }
    }

    .front:hover {
      animation: revealNudge 0.5s linear;
    }

    img {
      width: 145px;
      height: 252px;

      @include for-big-desktop {
        width: $lg-card-desktop-width;
        height: $lg-card-desktop-height;
      }
    }
  }
}
