@import '../../common/variables';
@import '../../common/colors';

.card-hover-info-backdrop {
  &.has-backdrop {
    background-color: rgba(19, 13, 35, 0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    pointer-events: none;
    animation: fadein .15s;
    @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }
    &.delayed-backdrop {
      animation: fadeindelayed .7s;
      @keyframes fadeindelayed {
        0% { opacity: 0; }
        80% { opacity: 0; }
        100%   { opacity: 1; }
      }
    }
  }

  .card-hover-info-wrapper {
    display: flex;
    position: absolute;
    left: 155px;
    pointer-events: none;
    z-index: 1000;

    &.center {
      width: 225px;
      height: 317px;
      position: fixed;
      transform: translate(-50%, -50%);
    }

    &.card-type-project {
      background: red;
    }

    .inner-wrapper {
      text-align: center;
      color: white;

      .card-level-wrapper {
        position: absolute;
        top: 15px;
        right: 30px;

        .card-level-val {
          margin-left: 9px;
          position: relative;
          top: 3px;
          font-size: 27px;
        }
      }

      .card-title, .card-type {
        position: absolute;
        width: 186px;
        left: 19px;
        text-align: center;
        text-transform: capitalize;
        bottom: 65px;
      }

      .card-type {
        bottom: 31px;
        font-size: 14px;
      }
    }

    .rarity-overlay {
      &.blue {
        position: absolute;
        top: -8px;
        left: -15px;
        width: 236px;
        height: 364px;
        background-size: 100%;
        transform: scale(1.15);
        background: url("../Cards/HandCard/blue-rarity-border.png") no-repeat;
      }
      &.gold {
        position: absolute;
        top: 0;
        left: -12px;
        width: 236px;
        height: 364px;
        background-size: 100%;
        transform: scale(1.2);
        background: url("../Cards/HandCard/gold-rarity-border.png") no-repeat;
      }
      &.purple {
        position: absolute;
        top: -4px;
        left: -4px;
        width: 343px;
        height: 364px;
        background-size: cover;
        transform: scale(1.18);
        background: url("../Cards/HandCard/purple-rarity-border.png") no-repeat;
      }
    }

    .cost, .gains {
      position: absolute;
      top: 20px !important;
      z-index: 3;

      $orb-radius: 16px;

      //@include for-big-desktop {
      //  $orb-radius: 17px;
      //}

      &:before,
      &.cost .orb:before,
      &.gains .orb:after {
        content: attr(data-name);
        text-transform: capitalize;
        height: 33px;
        position: absolute;
        top: 0px;
        font-size: 14px;
        line-height: 33px;
      }
      &.cost:before {
        left: -30px;
        top: -55px;
        width: 80px;
        height: 60px;
        line-height: 100px;
        text-align: left;
        font-size: 14px;
        padding-left: 20px;
        box-sizing: border-box;

        //@include for-big-desktop {
        //  left: -5px;
        //  font-size: 18px;
        //}
      }
      &.gains:before {
        right: -22px;
        top: -20px;
        width: 80px;
        height: 60px;
        text-align: left;
        font-size: 14px;
        padding-left: 20px;
        box-sizing: border-box;

        //@include for-big-desktop {
        //  font-size: 18px;
        //}
      }
      &.cost .orb:before {
        background: linear-gradient(270deg, #36265F 0%, rgba(54, 38, 95, 0) 100%);
        padding: 0 15px 0 40px;
        right: 28px;
        z-index: -1;

        //@include for-big-desktop {
        //  font-size: 15px;
        //  display: flex;
        //  align-items: center;
        //  justify-content: center;
        //  right: 42px;
        //  height: 34px;
        //  padding: 0 28px 0 45px;
        //}
      }
      &.gains .orb:after {
        background: linear-gradient(90deg, #36265F 0%, rgba(54, 38, 95, 0) 100%);
        padding: 0 40px 0 15px;
        left: 28px;
        z-index: -1;

        //@include for-big-desktop {
        //  font-size: 15px;
        //  display: flex;
        //  align-items: center;
        //  justify-content: center;
        //  left: 42px;
        //  height: 34px;
        //  padding: 0 45px 0 28px;
        //
        //}
      }
      &.cost {
        left: -54px !important;

        //@include for-big-desktop {
        //  left: -93px !important;
        //}

        .orb {
          border-bottom-right-radius: $orb-radius;
          border-top-right-radius: $orb-radius;
        }
      }
      &.gains {
        left: auto;
        right: -46px !important;

        //@include for-big-desktop {
        //  right: -67px !important;
        //}

        .orb {
          border-bottom-left-radius: $orb-radius;
          border-top-left-radius: $orb-radius;
        }
      }
      width: 40px;
      .orb {
        position: relative;
        width: 47px;
        height: 33px;
        padding: 6px 0;
        margin: 10px 0;
        line-height: 22px;
        color: white;
        font-size: 14px;
        font-family: $font-secondary;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        //@include for-big-desktop {
        //  font-size: 17px;
        //  height: 34px;
        //  width: 66px;
        //  display: flex;
        //  align-items: center;
        //  justify-content: center;
        //}
      }
      &.gains {
        .orb.funds {
          background: linear-gradient(90deg, #FF9D14 24.31%, rgba(255, 157, 20, 0) 100%);
        }
        .orb.power {
          background: linear-gradient(90deg, #BC0924 24.31%, rgba(189, 9, 37, 0) 100%);
        }
        .orb.xp {
          background: linear-gradient(90deg, #2AD100 24.31%, rgba(42, 209, 0, 0) 100%);
        }
        .orb.space {
          background: linear-gradient(90deg, #3CC8CC 24.31%, rgba(60, 200, 204, 0) 100%);
        }
        .orb.development {
          background: linear-gradient(90deg, #9B01C1 24.31%, rgba(155, 1, 193, 0) 100%);
        }
      }
      &.cost {
        .orb.funds {
          background: linear-gradient(-90deg, #FF9D14 24.31%, rgba(255, 157, 20, 0) 100%);
        }
        .orb.space {
          background: linear-gradient(-90deg, #3CC8CC 24.31%, rgba(60, 200, 204, 0) 100%);
        }
        .orb.level {
          background: linear-gradient(-90deg, #2AD100 24.31%, rgba(42, 209, 0, 0) 100%);
        }
        .orb.development {
          background: linear-gradient(-90deg, #9B01C1 24.31%, rgba(155, 1, 193, 0) 100%);
        }
        .orb.power {
          background: linear-gradient(-90deg, #BC0924 24.31%, rgba(189, 9, 37, 0) 100%);
        }
      }

      .description {
        width: 190px;
        text-align: left;
        font-size: 12px;
        margin-top: 20px;

        .mechanics {
          margin-bottom: 9px;
        }

        .flavor {
          font-family: $font-primary;
          font-style: italic;
          opacity: 0.7;
        }
      }
    }
  }
}
