@import '../../common/variables';
@import '../../common/colors';

.card-hover-info-wrapper {
  display: none;
  position: absolute;
  //bottom: 0;
  left: 155px;
  pointer-events: none;
  z-index: 2000;
  box-shadow: 0 0 50px 15px rgba(35, 24, 61, 0.9);
  top: 0;
  width: 145px;
  height: 252px;
  border-radius: 12px;
  &.center {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    box-shadow: none;
    background: radial-gradient(rgba(35, 24, 61, 0.9) 20%, rgba(35, 24, 61, 0) 70%);
    background-position: center;
    background-size: 600px 550px;
    background-repeat: no-repeat;
  }
  .inner-wrapper {
    box-shadow: 0px 0px 74px #1A122E;
    margin: auto;
    width: 145px;
    height: 252px;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
    border-radius: 12px;
    * {
      font-family: $font-secondary;
    }

    .card-level {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 14px;
      z-index: 10;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 145px;
      height: 252px;
      border-radius: 12px;
      background-image: url('./CardFront01.png');
      background-size: cover;
      z-index: 1;
    }

    .rarity-overlay {
      position: absolute;
      top: -25px;
      left: -25px;
      width: 195px;
      height: 300px;
      background-size: cover;
      z-index: 2;
      &.rarity-blue {
        background-image: url('./scarce.png');
      }
      &.rarity-gold {
        background-image: url('./elite.png');
      }
      &.rarity-red {
        background-image: url('./rare.png');
      }
    }

    .title {
      z-index: 2;
      position: relative;
      padding: 5px 5px 0 5px;
      font-size: 9px;
      text-transform: uppercase;
    }

    .meta {
      position: absolute;
      bottom: 0;
      width: 100%;
      font-size: 9px;
      overflow: hidden;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      z-index: 2;
      padding-top: 30px;
      background: linear-gradient(to bottom, rgba(#36265F, 0) 0%, rgba(#36265F, 0.8) 100%);
      .meta-inner {
        background-color: #2D224E;
      }
      .type {
        padding: 12px 0 2px;
        margin-top: -10px;
        text-transform: uppercase;
        &:before {
          content: '';
          display: block;
          top: -2px;
          position: relative;
        }
      }
      .description {
        padding: 5px 5px 5px;
        p {
          margin: 5px 0 0;
          font-family: $font-primary;
        }
        .mechanics {
          font-weight: bold;
        }
        .flavor {
          font-style: italic;
          font-weight: 300;
        }
      }
    }
  }

  &.misc{ .type, .description {
    background: linear-gradient(to bottom, rgba($misc, 0), rgba($misc, .7));
    &:before { border-top: 1px solid $misc; }
  } }
  &.power{ .type, .description {
    background: linear-gradient(to bottom, rgba($power, 0), rgba($power, .7));
    &:before { border-top: 1px solid $power; }
  } }
  &.location{ .type, .description {
    background: linear-gradient(to bottom, rgba($location, 0), rgba($location, .7));
    &:before { border-top: 1px solid $location; }
  } }
  &.person{ .type, .description {
    background: linear-gradient(to bottom, rgba($person, 0), rgba($person, .7));
    &:before { border-top: 1px solid $person; }
  } }
  &.project{ .type, .description {
    background: linear-gradient(to bottom, rgba($project, 0), rgba($project, .7));
    &:before { border-top: 1px solid $project; }
  } }
  &.mining{ .type, .description {
    background: linear-gradient(to bottom, rgba($mining, 0), rgba($mining, .7));
    &:before { border-top: 1px solid $mining; }
  } }
  &.container{ .type, .description {
    background: linear-gradient(to bottom, rgba($container, 0), rgba($container, .7));
    &:before { border-top: 1px solid $container; }
  } }

  .cost, .gains {
    position: absolute;
    top: 20px !important;
    z-index: 3;
    &:before,
    &.cost .orb:before,
    &.gains .orb:after {
      content: attr(data-name);
      text-transform: capitalize;
      height: 24px;
      position: absolute;
      top: 0px;
      font-size: 11px;
      line-height: 24px;
    }
    &.cost:before {
      background: linear-gradient(40deg, #36265F -1.55%, rgba(54, 38, 95, 0) 56.82%);
      transform: rotate(-90deg);
      left: -23px;
      top: -50px;
      width: 80px;
      height: 60px;
      line-height: 100px;
      text-align: left;
      font-size: 14px;
      padding-left: 20px;
      box-sizing: border-box;
    }
    &.gains:before {
      background: linear-gradient(140deg, #36265F -1.55%, rgba(54, 38, 95, 0) 56.82%);
      transform: rotate(-90deg);
      right: -30px;
      top: -50px;
      width: 80px;
      height: 60px;
      text-align: left;
      font-size: 14px;
      padding-left: 20px;
      box-sizing: border-box;
    }
    &.cost .orb:before {
      background: linear-gradient(270deg, #36265F 0%, rgba(54, 38, 95, 0) 100%);
      padding: 0 15px 0 40px;
      right: 28px;
      z-index: -1;
    }
    &.gains .orb:after {
      background: linear-gradient(90deg, #36265F 0%, rgba(54, 38, 95, 0) 100%);
      padding: 0 40px 0 15px;
      left: 28px;
      z-index: -1;
    }
    &.cost {
      left: -60px !important;
      .orb {
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
      }
    }
    &.gains {
      left: auto;
      right: -60px !important;
      .orb {
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
      }
    }
    width: 40px;
    .orb {
      position: relative;
      width: 47px;
      height: 24px;
      padding: 2px 0;
      margin: 10px 0;
      line-height: 22px;
      color: white;
      font-size: 12px;
      font-family: $font-secondary;
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      &.small {
        //padding-top: 13px;
        //font-size: 9px;
        //white-space: pre;
        //line-height: 8px;
      }
      &.smaller {
        //font-size: 9px;
      }
    }
    &.gains {
      .orb.funds {
        background: linear-gradient(90deg, #FF9D14 24.31%, rgba(255, 157, 20, 0) 100%);
      }
      .orb.power {
        background: linear-gradient(90deg, #BC0924 24.31%, rgba(189, 9, 37, 0) 100%);
      }
      .orb.xp {
        background: linear-gradient(90deg, #2AD100 24.31%, rgba(42, 209, 0, 0) 100%);
      }
      .orb.space {
        background: linear-gradient(90deg, #3CC8CC 24.31%, rgba(60, 200, 204, 0) 100%);
      }
      .orb.development {
        background: linear-gradient(90deg, #9B01C1 24.31%, rgba(155, 1, 193, 0) 100%);
      }
    }
    &.cost {
      .orb.funds {
        background: linear-gradient(-90deg, #FF9D14 24.31%, rgba(255, 157, 20, 0) 100%);
      }
      .orb.space {
        background: linear-gradient(-90deg, #3CC8CC 24.31%, rgba(60, 200, 204, 0) 100%);
      }
      .orb.level {
        background: linear-gradient(-90deg, #2AD100 24.31%, rgba(42, 209, 0, 0) 100%);
      }
      .orb.development {
        background: linear-gradient(-90deg, #9B01C1 24.31%, rgba(155, 1, 193, 0) 100%);
      }
      .orb.power {
        background: linear-gradient(-90deg, #BC0924 24.31%, rgba(189, 9, 37, 0) 100%);
      }
    }
  }


}
