@import "../../common/colors";
@import "../Projects/Projects.scss";

.projects-item-wrapper {
  width: $project-size;
  height: $project-size;
  position: relative;
  border-radius: 100%;

  &:hover {
    .main-thumbnail {
      opacity: 0;
    }

    .project-time-left {
      opacity: 1;
    }

    .card-hover-info-wrapper {
      display: flex;
      top: 0;
      left: -200px;
    }
  }

  .project-progress {
    padding: 2px;
  }

  .fpb {
    position: absolute;
    top: 0;
    width: 100px;
    white-space: nowrap;

    @include elementInAndOut;

    &.left {
      left: -20px;
      top: -15px;
      text-align: left;
    }

    &.right {
      left: -42px;
      top: 47px;
      text-align: right;
    }
  }

  button.activate-button {
    border-radius: 100%;
    font-size: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: 17px;
  }

  .project-time-left {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 7px;
    color: #fff;
    text-shadow: rgba(33, 35, 234, 0.7);
    padding-top: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;


    .blocks-left {
      font-size: 14px;
    }
  }


  .project-thumbnail {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: $project-size;
    height: $project-size;
    border-radius: 100%;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  .project-info {
    position: relative;
    z-index: 2;
    text-align: center;
  }

  .project-check {
    position: relative;
    z-index: 2;
    width: 14px;
    height: 16px;
  }

  &.project-finished {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, transparent 50%, rgba(54, 38, 95, 0.8) 50%);

    .repeat-project {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .project-thumbnail {
      opacity: 0.25;
    }

    svg {
      width: 20px;
      height: 10px;
      cursor: pointer;
      z-index: 3;

      &:hover {
        cursor: pointer;
      }
    }

    .project-check {
      cursor: pointer;
    }
  }
}
