@import "../../common/colors";

.projects-item-wrapper {
  position: relative;

  &:hover .card-hover-info-wrapper {
    display: flex;
    top: 0;
    left: -160px;
  }

  button.activate-button {
    border-radius: 100%;
    font-size: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: 17px;
  }

  .project-time-left {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 8px;
    color: #fff;
    text-shadow: rgba(33, 35, 234, 0.7);
    padding-top: 7px;

    .blocks-left {
      font-size: 16px;
    }

  }
}
