@import "../../../common/variables";

.active-container-wrapper {
  width: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;

  .active-container-card-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
  }

  .container-title {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.4em;
    font-family: $font-secondary;
  }

  .close-container {
    background: linear-gradient(to bottom, #452499, #080314);
    border: 2px solid #9797FB;
    color: white;
    display: inline-block;
    padding: 0 10px;
    font-family: $font-secondary;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 25px;
  }
}
