@import "../../../common/variables";

.active-container-wrapper {
  margin-top: 70px;
  width: 100%;
  color: #fff;
  text-align: center;
  position: relative;

  .close-icon {
    position: absolute;
    top: -115px;
    right: -20px;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover {
      opacity: 0.8;
    }
  }

  .container-bottom-wrapper {
    position: relative;
    margin-top: 25px;
    height: 200px;
    background: linear-gradient(180deg, rgba(54, 38, 95, 0.3) 0%, rgba(54, 38, 95, 0) 100%);

    .container-slots {
      padding-top: 38px;

      .drop-slots-wrapper {
        @include gameplayEmptySlot();
      }
    }
  }
}
