@import "../../common/text";
@import "../../common/components";
@import "../../common/colors";
@import "../../common/variables";

* {
  box-sizing: border-box;
  font-family: $font-secondary;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: $font-size-regular;
  background: #101327;
}

#root {
  background: url("./background.png") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.loading-wrapper {
  text-align: center;
  overflow: hidden;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .spinner-wrapper {
    transform: scale(2);
    margin-bottom: 25px;

    //@include for-big-desktop {
    //  transform: scale(2.5);
    //  margin-bottom: 40px;
    //}
  }
  .show-delayed {
    color: white;
    font-size: 20px;
    margin: 1em;
    animation: fade-in 3s;

    //@include for-big-desktop {
    //  font-size: 32px;
    //}

    @keyframes fade-in {
      0% { opacity: 0; }
      66% { opacity: 0; }
      100% { opacity: 1; }
    }
  }
}

.app-wrapper {
  position: relative;
  width: 1000px;
  max-width: 1000px;
  height: 620px;
  margin: auto;

  //@include for-big-desktop {
  //  width: 1415px;
  //  max-width: 1415px;
  //  height: 896px;
  //}

  &.no-acc {
    background: none;
    box-shadow: none;

    .app-top-section-wrapper .logo-wrapper {
      left: 295px;
      top: 20px;
    }
  }

  .app-error {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: $red;
    color: white;
    z-index: 9999;
  }

  .app-top-section-wrapper {
    position: relative;
    display: flex;
    height: 100%;

    .logo-wrapper {
      position: absolute;
      width: 417px;
      height: 105px;
      top: -115px;
      left: 291px;
      z-index: 200;
      background: url("./logo.png") center center no-repeat;
      background-size: cover;

      //@include for-big-desktop {
      //  display: none;
      //}

      @media (max-height: 800px) {
        display: none;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #FF9D14;
}
::-webkit-scrollbar-thumb:hover {
  background: #d8840e;
}

@media (min-width:1920px) {

}
