@import "../../common/text";
@import "../../common/components";
@import "../../common/colors";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: $font-size-regular;
  font-family: Arial, sans-serif;
  background: url("./background.png") center center no-repeat;
  background-size: cover;
}

.app-wrapper {
  max-width: 1000px;
  max-height: 620px;
  margin: auto;
  .app-top-section-wrapper {
    height: 100vh;
    display: flex;
  }
}
