@import "../../common/text";
@import "../../common/components";
@import "../../common/colors";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: $font-size-regular;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #101327;
}

.app-wrapper {
  max-width: 1000px;
  height: 620px;
  margin: auto;
  box-shadow: 0px 0px 24px #36265F;
  background: url("./background.png") center center no-repeat;
  background-size: cover;

  .app-error {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: $red;
    color: white;
    z-index: 9999;
  }

  .app-top-section-wrapper {
    display: flex;
    height: 100%;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #FF9D14;
}
::-webkit-scrollbar-thumb:hover {
  background: #d8840e;
}
