@import "../../../common/variables";
@import "../../../common/colors";

.leaderboard-wrapper {
  position: relative;
  width: 513px;
  height: 496px;
  flex-grow: 1;
  margin: 25px auto 0 auto;

  //@include for-big-desktop {
  //  margin-top: 45px;
  //  width: 660px;
  //  height: 700px;
  //}

  .header-bar-wrapper .bar-name {
    //@include for-big-desktop {
    //  font-size: 18px;
    //}
  }

  .close-icon {
    position: absolute;
    z-index: 10;
    top: -35px;
    right: -10px;
    cursor: pointer;
    transition: 0.2s ease-in;
    padding: 10px;

    //@include for-big-desktop {
    //  transform: scale(1.35);
    //  right: -8px;
    //}

    &:hover {
      opacity: 0.8;
    }
  }

  .fetching {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;

    .spinner-wrapper {
      transform: scale(1);
    }
  }

  .fetching-error {
    font-family: $font-secondary;
    text-align: center;
    margin-top: 40px;

    //@include for-big-desktop {
    //  font-size: 20px;
    //  margin-top: 50px;
    //}
  }

  .data-wrapper {
    margin-top: 20px;
    padding-top: 20px;
    color: white;
    height: 390px;

    //@include for-big-desktop {
    //  height: 650px;
    //  margin-top: 50px;
    //}

    .data-header {
      margin-bottom: 10px;
      position: relative;
      &:after {
        display: block;
        content: '';
        pointer-events: none;
        height: 40px;
        width: 100%;
        top: -10px;
        position: absolute;
        background: radial-gradient(rgba(#5E1FFF, .2) 0%, transparent 70%);
      }

      &>span {
        position: relative;
        z-index: 1;
        font-size: 12px;
        font-family: $font-secondary;
        flex-grow: 1;
        text-align: center;
        color: rgba(255, 255, 255, 0.3);

        //@include for-big-desktop {
        //  font-size: 16px;
        //}
      }

      .nickname {
        margin-left: 42px;
        margin-right: 236px;
      }

      .xp {
        max-width: 210px;

        //@include for-big-desktop {
        //  max-width: 330px;
        //}
      }

      .level {
        margin-right: 70px;
      }
    }

    .data-table {
      overflow: auto;
      max-height: 100%;

      .player-rank {
        display: flex;
        height: 33px;
        font-size: 10px;
        white-space: pre;

        &:nth-child(2n) {
          background: linear-gradient(270deg, rgba(47, 25, 104, 0) 0%, rgba(47, 25, 104, 0.162431) 18.78%, rgba(47, 25, 104, 0.2) 81.77%, rgba(47, 25, 104, 0) 100%);
        }

        //@include for-big-desktop {
        //  height: 28px;
        //  font-size: 17px;
        //}

        &.curr-player {
          border: 1px solid $light-purple;

          //@include for-big-desktop {
          //  height: 46px;
          //}
        }

        & > div {
          display: flex;
          align-items: center;
        }

        .nickname {
          margin-left: 42px;
          width: 268px;
          position: relative;

          //@include for-big-desktop {
          //  margin-left: 125px;
          //  width: 203px;
          //}

          .rank {
            position: absolute;
            margin-right: 16px;
            font-family: $font-primary;
            left: -26px;

            //@include for-big-desktop {
            //  margin-right: 10px;
            //}
          }

          .text {
            width: 263px;
            font-size: 15px;
            @include ellipsis;

            //@include for-big-desktop {
            //  width: 200px;
            //}
          }
        }

        .level {
          width: 47px;
          font-size: 15px;
          justify-content: center;
        }

        .xp {
          width: 116px;
          font-size: 15px;
          justify-content: flex-end;

          //@include for-big-desktop {
          //  width: 156px;
          //}
        }
      }
    }
  }

  .button-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5px;

    .modal-buttons-bar {
      bottom: 25px;
    }
  }
}
