@import "../../../common/variables";
@import "../../../common/colors";

.leaderboard-wrapper {
  position: relative;
  width: 467px;
  height: 496px;
  flex-grow: 1;
  margin: 25px auto 0 auto;
  background: linear-gradient(180deg, rgba(54, 38, 95, 0.3) 0%, rgba(54, 38, 95, 0) 39.58%);

  @include for-big-desktop {
    margin-top: 45px;
    width: 660px;
    height: 700px;
  }

  .header-bar-wrapper .bar-name {
    @include for-big-desktop {
      font-size: 18px;
    }
  }

  .close-icon {
    position: absolute;
    z-index: 10;
    top: -35px;
    right: -10px;
    cursor: pointer;
    transition: 0.2s ease-in;
    padding: 10px;

    @include for-big-desktop {
      transform: scale(1.35);
      right: -8px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .fetching {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;

    .spinner-wrapper {
      transform: scale(1);
    }
  }

  .fetching-error {
    font-family: $font-secondary;
    text-align: center;
    margin-top: 40px;

    @include for-big-desktop {
      font-size: 20px;
      margin-top: 50px;
    }
  }

  .data-wrapper {
    margin-top: 40px;
    color: white;
    height: 430px;
    overflow: auto;

    @include for-big-desktop {
      height: 650px;
      margin-top: 50px;
    }

    .data-header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-transform: uppercase;
      margin-bottom: 10px;

      &>span {
        font-size: 11px;
        font-family: $font-secondary;
        flex-grow: 1;
        text-align: center;

        @include for-big-desktop {
          font-size: 16px;
        }
      }

      .nickname, .xp {
        max-width: 210px;

        @include for-big-desktop {
          max-width: 330px;
        }
      }

      .level {
        max-width: 47px;
      }
    }

    .data-table {

      .player-rank {
        display: flex;
        height: 20px;
        font-size: 12px;
        white-space: pre;

        @include for-big-desktop {
          height: 28px;
          font-size: 17px;
        }

        $curr-player-bg: linear-gradient(180deg, rgba(54, 38, 95, 0) 0%, rgba(54, 38, 95, 0.7) 51.38%, rgba(54, 38, 95, 0) 100%);

        &.curr-player {
          height: 33px;
          background: $curr-player-bg;

          @include for-big-desktop {
            height: 46px;
          }
        }

        & > div {
          display: flex;
          align-items: center;
        }

        * {
          font-family: $font-secondary;
        }

        &:nth-child(-n+10) .nickname .rank {
          color: $yellow;
        }

        &:first-child, &:nth-child(2), &:nth-child(3) {
          height: 33px;
          background: linear-gradient(180deg, rgba(54, 38, 95, 0.4) 0%, rgba(54, 38, 95, 0) 100%);

          @include for-big-desktop {
            height: 46px;
          }

          &.curr-player {
            background: $curr-player-bg;
          }
        }

        &:first-child .nickname {
          .text, .rank {
            font-size: 18px;
            @include for-big-desktop {
              font-size: 25px;
            }
          }
        }
        &:nth-child(2) .nickname {
          .text, .rank {
            font-size: 15px;
            @include for-big-desktop {
              font-size: 21px;
            }
          }
        }
        &:nth-child(3) .nickname {
          .text, .rank {
            font-size: 13px;
            @include for-big-desktop {
              font-size: 18px;
            }
          }
        }

        .nickname {
          margin-left: 64px;
          width: 145px;

          @include for-big-desktop {
            margin-left: 125px;
            width: 203px;
          }

          .rank {
            margin-right: 6px;

            @include for-big-desktop {
              margin-right: 10px;
            }
          }

          .text {
            width: 120px;
            @include ellipsis;

            @include for-big-desktop {
              width: 200px;
            }
          }
        }

        .level {
          width: 47px;
          justify-content: center;
        }

        .xp {
          width: 115px;
          justify-content: flex-end;

          @include for-big-desktop {
            width: 156px;
          }
        }
      }
    }
  }
}
