@import "../../common/colors";
@import "../../common/text";
@import "../../common/variables";

.cards-wrapper {
  border-top: 1px solid $border-color;
  display: flex;
  padding: 10px 0;
  width: 100%;
  height: 120px;
  overflow-y: auto;

  .loading-cards, .no-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: $font-size-giant;
  }

  .loading-cards span { margin-right: 15px; }

  .card-details:not(:last-child) {
    margin-right: 20px;
  }

  .location-card-wrapper {
    cursor: pointer;
  }

  .card-type-wrapper {
    display: flex;
    .card-type-title-wrapper {
      width: 20px;
      border-right: 1px solid #36265F;
      margin-right: 20px;
      height: 100%;
      position: relative;
      .card-type-title {
        font-family: $font-secondary;
        position: absolute;
        bottom: 0;
        height: 0;
        transform: rotate(-90deg);
        transform-origin: top left;
        color: white;
        font-size: 12px;
        letter-spacing: .04em;
        text-transform: uppercase;
      }
    }
    .card-container {
      margin-right: 10px;
      cursor: move;
    }
  }

}
