@import "../../common/colors";
@import "../../common/text";
@import "../../common/variables";

.cards-wrapper {
  overscroll-behavior: contain contain;
  position: relative;
  &:after {
    display: block;
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 14px;
    background: linear-gradient(to right, rgba(#9797FB, 0), rgba(#9797FB, 1), rgba(#9797FB, 0));
  }

  .cards-inner-wrapper {
    position: relative;
    width: 100%;
    padding: 0px 5px;
    height: 150px;
    white-space: nowrap;
    align-items: center;
    overflow-y: hidden;
    overscroll-behavior: contain contain;

    @include for-big-desktop {
      height: 190px;
    }

    .card-container {
      cursor: move;
      height: 100px;
      transition: all .2s;
      width: 40px;
      &:last-child {
        width: auto;
        margin-right: 10px !important;
      }
      &:hover {
        height: 120px;
        margin-top: -20px;
        //margin-right: 50px;
        //z-index: 1;
      }
      .card-details {
      }
    }
  }

  .loading-cards, .no-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    color: white;
    span {
      font-family: $font-secondary;
      margin-right: 15px;
    }

    @include for-big-desktop {
      font-size: 24px;

      .loader {  transform: scale(1.35);  }
    }
  }


  .card-details:not(:last-child) {
    margin-right: 20px;
  }

  .location-card-wrapper {
    cursor: pointer;
  }

  .card-type-wrapper {
    display: inline-flex;
    .card-type-title-wrapper {
      width: 20px;
      margin-right: 10px;
      height: 90px;
      position: relative;

      @include for-big-desktop {
        height: 130px;
      }

      .card-type-title {
        font-family: $font-secondary;
        position: absolute;
        bottom: -32px;
        height: 0;
        transform: rotate(-90deg);
        transform-origin: top left;
        color: white;
        font-size: 12px;
        letter-spacing: .04em;
        text-transform: uppercase;
        z-index: 1;

        @include for-big-desktop {
          font-size: 14px;
        }

        &:before {
          content: '';
          border: 1px solid #9797FB;
          background-color: red; // TODO
          border-radius: 50%;
          height: 13px;
          width: 13px;
          display: block;
          position: absolute;
          bottom: -17px;
          left: -28px;
        }
      }
    }
    .card-type-inner-wrapper {
      display: flex;
      overflow: hidden;
      padding-top: 22px;
    }
  }
}
