@import '../../../common/colors';
@import '../../../common/variables';

.confirm-modal-wrapper {
  background: $modal-bg;
  border-bottom-left-radius: $border-radius-modal;
  border-bottom-right-radius: $border-radius-modal;
  padding: 25px 37px;

  .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      margin: 0 0 10px 0;
      font-size: 20px;
      font-family: $font-secondary;
    }

    .main-text {
      font-family: $font-primary;
      font-size: 12px;
      text-align: center;
      margin-bottom: 15px;
    }

    .buttons-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 145px;

      button {
        margin-left: 0;
        width: 65px;
        border: none;
        padding: 0;
      }
    }
  }
}
