@import '../../../common/colors';
@import '../../../common/variables';

.confirm-modal-wrapper {
  padding: 25px 37px;

  .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 0;
    background: linear-gradient(270deg, rgba(19, 13, 35, 0) 0%, #140D24 8.69%, #150D26 91.6%, rgba(21, 13, 38, 0) 100%);

    .title {
      margin: 0 0 10px 0;
      font-size: 16px;
      font-family: $font-secondary;
    }

    .main-text {
      font-family: $font-primary;
      font-size: 10px;
      text-align: center;
      width: 195px;
      color: #615E76;

      .conditional {
        margin-left: 5px;
      }
    }

    button {
      margin-left: 0;
      width: 65px;
      border: none;
      padding: 0;
    }

    .modal-buttons-bar {

    }
  }

  .buttons-wrapper {
    position: relative;
    margin-top: 8px;
    width: 100%;

    .modal-buttons-bar {
      bottom: 25px;
    }
  }
}
