@import "../../common/variables";
@import "../../common/colors";

.header-bar-wrapper {
  position: absolute;
  top: -17px;
  width: 100%;
  display: flex;
  font-size: 0;
  z-index: 1;
  .bar-name {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0 22px;
    flex-grow: 0;
    background: url('./assets/title.png') no-repeat center bottom;
    background-size: 100%;
    height: 37px;
    position: relative;
    font-family: $font-secondary;
    line-height: 35px;
    &:before {
      content: '';
      background: url('./assets/middle.png') no-repeat;
      height: 17px;
      width: 40px;
      display: block;
      position: absolute;
      left: -38px;
      top: 17px;
      z-index: 2;
    }
    &:after {
      content: '';
      background: url('./assets/middle2.png') no-repeat;
      height: 17px;
      width: 40px;
      display: block;
      position: absolute;
      right: -39px;
      top: 17px;
      z-index: 2;
    }
  }
  .bar-wrapper {
    flex-grow: 1;
    padding: 6px 0;
    position: relative;

    &.reverse:before {
      transform: rotate(180deg);
      left: 16px;
    }

    &:before {
      content: '';
      background: url('./assets/extension.png') no-repeat right;
      height: 2px;
      width: 100%;
      display: block;
      position: absolute;
      top: 17px;
      right: 15px;
      z-index: 2;
    }
    .bar-label {
      position: absolute;
      color: white;
      font-size: 10px;
      z-index: 1;
      width: 100%;
      padding: 0 10px;
      span {
        text-transform: uppercase;
        font-weight: bold;
      }
      &.left {
        text-align: right;
      }
    }
    .bar {
      background-color: $red;
      max-width: 225px;
      height: 12px;
      transform: skewX(-45deg);
      margin: 0 10px 0 -10px;
      &.left {
        transform: skewX(45deg);
        background-color: $blue;
        margin: 0 -10px 0 10px;
        float: right;
      }
      &.background {
        background-color: #1C1935;
        position: absolute;
        width: 100%;
      }
    }
  }
}
