@import '../../../common/colors';

.active-event-header-wrapper {
  position: relative;
  z-index: 2;
  bottom: 22px;
  left: 20px;

  .dropdown {
    overflow-y: hidden;
    max-height: 291px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    height: 291px;
    position: relative;
    right: 20px;
    background: #150D26;
    margin-top: 15px;
    color: white;
  }

  &.dropdown-closed .dropdown {
    max-height: 0;
  }

  &.dropdown-open .arrows-wrapper {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transform: rotate(-180deg);
    top: -30px;
  }

  .event-info-header {
    display: flex;
    align-items: center;
    width: 429px;
    color: white;
    position: absolute;
    top: 10px;
    left: 35px;
    font-size: 11px;


    .type {
      display: flex;
      flex: 1 1 0;
      align-items: center;

      .text {
        margin-left: 3px;
        font-size: 13px;
      }
      &.attack .text { color: $event-red; }
      &.opportunity .text { color: $event-yellow; }
    }

    .name {
      font-size: 15px;
    }

    .time {
      flex: 1 1 0;
      display: flex;
      justify-content: flex-end;

      .label {
        opacity: 0.5;
        margin-right: 3px;
      }
    }
  }

  .progress {
    position: absolute;
    top: 32px;
    left: -20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons-wrapper {
    position: absolute;
    right: 69px;
    top: 27px;
    display: flex;
    align-items: center;

    .small-button {
      margin-left: 5px;

      .small-button-text {
        top: 13px;
        font-size: 9px;
      }
      svg {
        width: 53px;
        height: 39px;
      }
    }
  }

  .arrows-wrapper {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    left: -20px;
    transition: 0.2s ease-in;

    &:hover {
      opacity: 0.5;
    }

    svg:nth-child(2) {
      margin: 0 -15px;
    }
  }
}