@import "../../common/colors";
@import "../../common/variables";

.empty-loc-slot-wrapper {
  &.can-drop .empty-loc-slot svg path {
    stroke: $empty-slot-can-drop;
  }

  &.no-drop .empty-loc-slot svg path {
    stroke: $red;
  }

  .empty-loc-slot {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 8px;
  }
}
