@import "../../../common/colors";
@import "../../../common/variables";

.gameplay-header-wrapper {
  color: #fff;
  display: flex;
  min-height: 100px;
  justify-content: center;

  .gameplay-header-content {
    display: inline-flex;

    .section {
      width: 262px;
      position: relative;
      top: 9px;
      display: flex;
      flex-direction: column;

      .stats-container {
        display: flex;
      }

      .stats-wrapper {
        margin: 15px 0 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &.dev-stats {
          margin-right: 19px;
          margin-left: 60px;
        }

        &.funds-stats {
          align-items: flex-start;

          .label {
            margin-left: 4px;
          }

          .count div {
            font-family: $font-secondary;
          }

          .fpb {
            font-family: $font-secondary;
            position: absolute;
            display: flex;
            font-size: 12px;
            line-height: 8px;
            top: 33px;
            color: $yellow;

            span {
              font-family: $font-secondary;
              font-size: 8px;
              margin-left: 4px;
            }
          }
        }

        .funds-circle,
        .dev-circle {
          margin-right: 7px;
          width: 26px;
          height: 26px;
          border-radius: 50px;
        }
        .dev-circle {
          background: linear-gradient(180deg, #9B01C1 24.31%, rgba(155, 1, 193, 0.67) 100%);
        }
        .funds-circle {
          background: linear-gradient(180deg, #FF9D14 24.31%, rgba(255, 157, 20, 0.67) 100%);;
        }

        img {
          margin-right: 7px;
          width: 26px;
          height: 26px;
        }

        .meta-wrapper {
          text-transform: uppercase;

          .count {
            font-family: $font-secondary;
            font-size: 16px;
            display: flex;
            align-items: baseline;
            line-height: 18px;

            &.small {
              font-size: 11px;
            }
            &.mid {
              font-size: 14px;
            }
            &.large {
              font-size: 16px;
            }
          }
          .label {
            font-size: 8px;
          }
        }
      }

      .bar {
        border: 2px solid $dark-purple;
        box-shadow: 0 0 44px #441E83;
        width: 100%;
      }

    }

    .central {
      position: relative;

      .central-small {
        position: absolute;

        img {
          width: 190px;
          position: absolute;
          z-index: 4;
          top: -38px;
          left: -12px
        }

        .level {
          font-weight: bold;
          font-size: 13px;
          text-transform: uppercase;
          color: #FF9D14;
          position: absolute;
          z-index: 5;
          width: 84px;
          left: 42px;
          top: 6px;
          text-align: center;
        }
      }

      .central-big {
        position: relative;
        width: 170px;
        top: 10px;

        .big-stats {
          z-index: 2;
          position: absolute;
          text-align: center;
          left: 8px;
          top: 26px;
          width: 155px;

          .name {
            font-family: $font-secondary;
            font-size: 23px;
            text-shadow: 0 0 30px rgba(33, 35, 234, 0.7);
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display:inline-block;

            .no-name {
              text-transform: uppercase;
            }
          }

          .xp-wrapper {
            font-family: $font-secondary;
            font-size: 12px;
            color: white;
            position: relative;
            top: -4px;
            z-index: 12;
          }

          .xp-loader-wrapper {
            position: absolute;
            bottom: 7px;
            left: 0;
            height: 14px;
            width: 156px;
          }
        }

        img {
          position: absolute;
          width: 350px;
          top: -42px;
          left: -90px;
          z-index: 2;
        }
      }
    }
  }
}
