@import "../../../common/colors";
@import "../../../common/variables";

.gameplay-header-wrapper {
  color: #fff;
  display: flex;
  min-height: 90px;
  justify-content: center;

  @include for-big-desktop {
    //min-height: 108px;
  }

  .gameplay-header-content {
    display: flex;
    width: 653px;
    max-width: 653px;
    height: 90px;
    background-image: url("./header-bg.png");
    background-size: 653px;
    background-position: center;
    background-repeat: no-repeat;

    * {
      font-family: $font-secondary;
    }

    @include for-big-desktop {
      //display: flex;
      //flex-grow: 1;
      //justify-content: center;
    }

    .section {
      flex: 1 1 0;
      position: relative;
      padding-top: 34px;
      box-sizing: border-box;

      .stats-wrapper {
        font-size: 19px;

        .smaller {
          font-size: .65em;
        }

        &.people {
          padding: 0 20px 0 60px;
        }

        &.funds {
          padding: 2px 0 0 20px;
          line-height: 0.8em;
        }
      }
    }

    .central {
      position: relative;
      width: 284px;
      text-align: center;
      padding: 29px 10px 0;

      .level {
        font-size: 15px;
        text-transform: uppercase;
        text-shadow: 0px 0px 30px rgba(33, 35, 234, 0.7);
        opacity: .7;
        line-height: 1em;

        @include for-big-desktop {
          //font-size: 18px;
        }
      }

      .name {
        font-size: 22px;
        text-shadow: 0 0 30px rgba(33, 35, 234, 0.7);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 1.1em;

        .no-name {
          text-transform: uppercase;
        }

        @include for-big-desktop {
          //font-size: 32px;
        }
      }

      .xp-wrapper {
        font-family: $font-secondary;
        font-size: 11px;
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 18px;
        z-index: 1;
        opacity: 0.7;
        transition: opacity .3s;
        cursor: default;
        &:hover {
          opacity: 0.9;
        }

        @include for-big-desktop {
          //font-size: 17px;
        }
      }

      .xp-loader-wrapper { // svg
        position: absolute;
        bottom: 3px;
        left: 0;
        right: 0;
        margin: auto;
        height: 18px;
        width: 233px;

        @include for-big-desktop {
          //transform: scale(1.29);
          //bottom: 18px;
          //left: -1px;
        }
      }
    }
  }
}
