@import "../../../common/variables";
@import "../../../common/colors";

.nickname-form-wrapper {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  > div {
    margin: 0 auto;
  }

  .form-description-title {
    font-family: $font-primary;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    color: white;
    margin: 0;
  }

  .content {
    width: 290px;

    //@include for-big-desktop {
    //  width: 330px;
    //  margin-top: 95px;
    //}

    .form-description {
      font-family: $font-primary;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: .02em;
      color: white;
      line-height: 1.5em;

      //@include for-big-desktop {
      //  font-size: 15px;
      //}
    }

    form.form-wrapper {
      position: relative;
      width: 250px;
      margin: 50px auto 0;

      .form-item-wrapper {
        margin-bottom: 0;

        .form-item {
          height: 44px;
          border: 0;
          outline: 0;
          padding: 0 35px 0 5px;
          font-size: 23px;
          background: transparent;
          color: white;
          border-radius: 0;
        }
      }

      .arrow-right-wrapper {
        position: absolute;
        right: 5px;
        bottom: 13px;

        &.disabled {
          opacity: 0.2;

          button {
            pointer-events: none;
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          border: none;
          cursor: pointer;
        }
      }
    }

    .form-bottom-box {
      height: 58px;
      width: 250px;
      margin: 0 auto;
      background: $background-purple-gradient;

      //@include for-big-desktop {
      //  height: 75px;
      //}
    }
  }
}
