@import '../../../common/variables';
@import '../../../common/colors';

.large-card-wrapper {

  .large-card-main {
    width: 219px;
    position: relative;
    top: -2px;
  }

  .card-title, .card-type {
    position: absolute;
    width: 185px;
    left: 17px;
    text-align: center;
    text-transform: capitalize;
    bottom: 70px;
    font-size: 16px;
  }

  .card-type {
    bottom: 35px;
    font-size: 14px;
  }

  .rarity-overlay {
    position: absolute;
    z-index: 1;
    transform: rotateY(0deg);

    //@include for-big-desktop {
    //  width: 275px;
    //  height: 400px;
    //  top: -36px;
    //  left: -35px;
    //}

    &.rarity-blue {
      background: url('../../Cards/HandCard/blue-rarity-border.png') no-repeat;
      background-size: 283px 371px;
      top: -31px;
      left: -32px;
    }
    &.rarity-gold {
      background: url('../../Cards/HandCard/gold-rarity-border.png') no-repeat;
      background-size: 285px 371px;
      top: -30px;
      left: -34px
    }
    &.rarity-red {
      background: url('../../Cards/HandCard/purple-rarity-border.png') no-repeat;
      background-size: 284px 369px;
      top: -30px;
      left: -32px;
    }
  }
  //
  //.new-card {
  //  position: absolute;
  //  z-index: 1;
  //  text-align: center;
  //  text-transform: uppercase;
  //  bottom: 252px;
  //  left: 35px;
  //  height: 16px;
  //  width: 75px;
  //  background: linear-gradient(180.78deg, rgba(255, 157, 20, 0) 0.92%, rgba(255, 157, 20, 0.2784) 81.11%);
  //  font-size: 10px;
  //  color: #FF9D14;
  //  text-shadow: 0 0 10px rgba(255, 157, 20, 0.9);
  //
  //  @include for-big-desktop {
  //    font-size: 18px;
  //    height: 25px;
  //    width: 78px;
  //    text-align: center;
  //    bottom: 355px;
  //    left: 64px;
  //  }
  //}
  //
}
