@import '../../../common/variables';
@import '../../../common/colors';

.large-card-wrapper {
  position: relative;
  &:hover {
    .actions {
      display: block;
    }
  }

  .large-card-main {
    width: 219px;
    position: relative;
    top: -2px;
  }

  .card-title, .card-type {
    color: white;
    position: absolute;
    width: 185px;
    left: 17px;
    text-align: center;
    text-transform: capitalize;
    bottom: 70px;
    font-size: 16px;
  }

  .card-type {
    bottom: 35px;
    font-size: 14px;
  }


  #rarity.rarity-overlay {
    position: absolute;
    top: -25px;
    left: -25px;
    width: 244px;
    height: 332px;
    transform: rotateY(0deg);
    background-size: cover;
    z-index: 1;

    //@include for-big-desktop {
    //  width: 275px;
    //  height: 400px;
    //  top: -36px;
    //  left: -35px;
    //}

    &.rarity-blue {
      background: url('../../Cards/HandCard/blue-rarity-border.png') no-repeat;
      background-size: 283px 371px;
      top: -31px;
      left: -32px;
    }
    &.rarity-gold {
      background: url('../../Cards/HandCard/gold-rarity-border.png') no-repeat;
      background-size: 285px 371px;
      top: -30px;
      left: -34px
    }
    &.rarity-purple {
      background: url('../../Cards/HandCard/purple-rarity-border.png') no-repeat;
      background-size: 284px 369px;
      top: -30px;
      left: -32px;
    }
  }
  .new-card {
    position: absolute;
    right: 17px;
    top: 20px;
    width: 67px;
    height: 55px;
    overflow: hidden;
    span {
      position: relative;
      top: 11px;
      right: -10px;
      display: block;
      background-color: rgba(255, 157, 20, 0.8);
      width: 79px;
      height: 17px;
      transform: rotate(45deg);
      color: white;
      font-family: "Baloo", sans-serif;
      text-transform: uppercase;
      font-size: 10px;
      text-align: center;
    }

    //@include for-big-desktop {
      //bottom: 126px;
      //font-size: 15px;
    //}
  }
  .actions {
    display: none;
    position: absolute;
    top: 15px;
    left: 12px;
    width: 20px;
    height: 60px;
    border-top-right-radius: 10px;
    background: linear-gradient(to bottom, #513792 35%, rgba(#513792, 0) 100%);
    padding: 5px 0;
    z-index: 1;
    > div {
      transition: all 0.2s;
      cursor: pointer;
      display: flex;
      width: 19px;
      height: 20px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      svg {
        width: 6px !important;
      }
    }
  }
}
