.card-details {
  min-width: 150px;
  max-width: 150px;
  border: 1px solid;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;

  &.type-entity { background-color: #ff6259; }
  &.type-action { background-color: #85b342; }
  &.type-objective { background-color: #ffbd3b; }

  .card-image {
    text-align: center;

    img {
      width: 50px;
    }
  }
  h3 {
    border-bottom: 1px solid;
    padding-bottom: 5px;
    white-space: nowrap;
  }
  h4 {
    margin: 5px 0;
    text-transform: capitalize;
  }
}
