@import '../../../common/colors';
@import '../../../common/variables';

.card-details {
  width: 70px;
  height: 90px;
  box-sizing: border-box;
  display: flex;
  position: relative;

  &:hover {
    .go-to-container-wrapper, .remove-card-wrapper {
      display: flex;
    }
  }

  .special-errors {
    font-family: $font-secondary;
    position: absolute;
    top: 90px;
    color: #FF0000;
    width: 100px;
    line-height: 15px;
    text-align: center;
    right: -14px;
  }

  .rarity-overlay,
  .overlay {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 96%;
    width: 95%;
  }
  .overlay {
    background-image: url('./handcard-overlay.png');
    background-size: cover;
    background-position: center;
  }
  .rarity-overlay {
    //&.blue { background: linear-gradient(142.75deg, rgba(5, 0, 255, 0.6) 0%, rgba(63, 60, 205, 0) 65.28%); }
    //&.gold { background: linear-gradient(142.75deg, rgba(255, 157, 20, 0.6) 0%, rgba(255, 157, 20, 0) 65.28%); }
    //&.red { background: linear-gradient(142.75deg, rgba(224, 0, 0, 0.6) 0%, rgba(224, 0, 0, 0) 65.28%); }
    &.gold {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        left: -2px;
        height: 2px;
        width: 40px;
        background: linear-gradient(to right, $gold-rarity 0%, rgba($gold-rarity, 0) 100%);
      }
    }
    &.red {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        left: -6px;
        height: 90px;
        width: 2px;
        background: linear-gradient(to bottom, $red-rarity 0%, rgba($red-rarity, 0) 100%);
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        left: -4px;
        height: 2px;
        width: 40px;
        background: linear-gradient(to right, $red-rarity 0%, rgba($red-rarity, 0) 100%);
      }
    }
  }

  .new-card {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: 12px;
    color: $yellow;
    text-shadow: 0 0 13px rgba(255, 157, 20, 0.7);
    position: absolute;
    left: 0;
    bottom: 88px;
  }

  .card-image {
    flex-grow: 1;
    .card-image-inner {}
  }
  .level-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 27px;
    height: 27px;
    color: white;
    z-index: 1;
    .level-background {
      position: absolute;
      width: 27px;
      height: 27px;
      top: 0;
      left: 0;
    }
    .level {
      position: absolute;
      right: 4px;
      font-family: $font-secondary;
    }
  }
  .count-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 27px;
    height: 27px;
    color: white;
    &:before {
      position: absolute;
      bottom: 0;
      content: '';
      border-bottom: 30px solid rgba(#36265F, .85);
      border-right: 30px solid transparent;
    }
    .count {
      position: absolute;
      bottom: 2px;
      left: 4px;
      font-size: 10px;
      line-height: 10px;
      font-family: $font-secondary;
    }
  }
  .cost, .values {
    position: absolute;
    z-index: 1;
    width: 20px;
    &.cost {
      top: 2px;
      left: -11px;
    }
    &.values {
      right: -7px;
      top: 32px;
    }
    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: block;
      margin: 4px 0;
      line-height: 22px;
      color: white;
      //border: 2px solid #36265F;
      box-sizing: content-box;
      font-size: 12px;
      font-family: $font-secondary;
      text-align: center;
      background: radial-gradient(9.50px at 50% 50%, #555 0%, #000 100%);

      &.small {
        padding-top: 3px;
        height: 17px;
        font-size: 9px;
        white-space: pre;
        line-height: 8px;
      }
      &.smaller {
        font-size: 9px;
      }

      &.error {
        border: 1px solid #FF0000;
        position: relative;

        &:after {
          content: attr(data-name);
          text-transform: capitalize;
          height: 22px;
          position: absolute;
          top: 0;
          background: linear-gradient(270deg, rgba(255, 0, 0, 0.306) 23.39%, rgba(255, 0, 0, 0) 100%);
          width: 75px;
          left: -62px;
          z-index: -1;
          font-size: 12px;
          line-height: 22px;
        }
      }

      &.funds {
        background: linear-gradient(to bottom, darken(#FF9D14, 5%) 0%, rgba(#FF9D14, .8) 100%);
      }
      &.power {
        background: linear-gradient(to bottom, darken(#BC0924, 5%) 0%, rgba(#BC0924, .8) 100%);
      }
      &.xp {
        background: linear-gradient(to bottom, darken(#2AD100, 5%) 0%, rgba(#2AD100, .8) 100%);
      }
      &.space {
        background: linear-gradient(to bottom, darken(#3CC8CC, 5%) 0%, rgba(#3CC8CC, .8) 100%);
      }
      &.development {
        background: linear-gradient(to bottom, darken(#9B01C1, 5%) 0%, rgba(#9B01C1, .8) 100%);
      }
      &.level {
        background: linear-gradient(to bottom, darken(#2AD100, 5%) 0%, rgba(#2AD100, .8) 100%);
      }
    }
  }
  .container-slots-wrapper {
    width: 36px;
    display: flex;
    border: 2px solid #36265F;
    background: linear-gradient(to bottom, #101427, #36265F);
    position: absolute;
    bottom: -8px;
    right: 0;
    span {
      display: inline-block;
      height: 6px;
      flex-grow: 1;
      background-color: #3CC8CC;
      &.empty {
        background-color: transparent;
      }
      &:not(:first-child) {
        margin-left: 1px;
      }
    }
  }

  .section-wrapper {
    border: 1px solid black;
  }

  .card-image {
    text-align: center;

    img {
      width: 115px;
    }
  }
  h3 {
    border-bottom: 1px solid;
    padding-bottom: 5px;
  }
  h4 {
    margin: 5px 0;
    text-transform: capitalize;
  }

  .remove-card-wrapper {
    display: none;
    position: absolute;
    bottom: 0;
    width: 74px;
    height: 29px;
    background: linear-gradient(180deg, #1F1638 0%, #36265F 100%);
    align-items: center;
    justify-content: center;
    z-index: 0;

    svg {
      transition: 0.2s ease-in;
    }

    svg:hover {
      transform: scale(1.15);
      cursor: pointer;
    }
  }

  .go-to-container-wrapper {
    display: none;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 61px;
    background: linear-gradient(0.48deg, rgba(54, 38, 95, 0.9) 31.92%, rgba(54, 38, 95, 0.38) 99.75%);
    opacity: 0.7;
    position: absolute;

    svg {
      transition: 0.2s ease-in;
    }

    svg:hover {
      transform: scale(1.15);
      cursor: pointer;
    }
  }
}
