@import "../../../common/colors";
@import "../../../common/text";

.active-location-wrapper {

  .active-location-header {
    height: 75px;
    margin: 0 20px;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .location-stats-label {
      font-size: $font-size-extra-large;
      font-weight: bold;
    }

    .location-stats-wrapper span:not(:last-child) {
      margin-right: 15px;
    }
  }

  .drop-slots-wrapper {
    margin-top: 25px;
    flex-direction: row;
  }
}
