@import "../../../common/colors";
@import "../../../common/variables";
@import "../../../common/text";

.active-location-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

  .active-location-content {
    max-width: 540px;
    width: 100%;
    margin-top: 5px;
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    @include for-big-desktop {
      margin-top: 15px;
      max-width: 725px;
    }

    .active-location-field {
      width: 100%;
      top: 30px;
      transition: all .3s;
      position: absolute;
      overflow: auto;
      height: 330px;

      &.location {
        &.hidden {
          opacity: 0;
          pointer-events: none;
          //transform: translateY(300px);
        }
        &.active {

        }
      }

      &.container {
        &.hidden {
          opacity: 0;
          pointer-events: none;
          transform: translateY(300px);
        }
        &.active {

        }
      }

      .drop-slots-wrapper {
        //height: 324px;
        //overflow: auto;
        //
        //@include for-big-desktop {
        //  height: 500px;
        //}
      }
    }

    .title-and-bars-wrapper {
      width: 100%;
      display: flex;
      font-size: 0;
      z-index: 1;
      .location-name {
        text-transform: uppercase;
        line-height: 19px;
        color: white;
        text-align: center;
        margin: 0 9px;
        padding: 0 30px;
        flex-grow: 0;
        background-image: url('./title-middle.png');
        background-size: 100% 34px;
        height: 34px;
        position: relative;
        font-family: $font-secondary;

        @include for-big-desktop {
          background: none;
          font-size: 20px;
          border-bottom: 4px solid $purple;
          height: 25px;
        }

        &:before {
          content: '';
          background-image: url('./title-attachment.png');
          background-size: 82px 34px;
          height: 34px;
          width: 82px;
          display: block;
          position: absolute;
          left: -54px;
          top: 0;

          @include for-big-desktop {
            transform: scaleX(-1.40) scaleY(1.40);
            top: 4px;
          }
        }
        &:after {
          content: '';
          background-image: url('./title-attachment.png');
          background-size: 82px 34px;
          height: 34px;
          width: 82px;
          display: block;
          position: absolute;
          right: -54px;
          top: 0;
          z-index: 2;
          transform: scaleX(-1);

          @include for-big-desktop {
            transform: scale(1.40);
            top: 4px;
          }
        }
      }
      .bar-wrapper {
        flex-grow: 1;
        padding: 11px 0;
        position: relative;

        @include for-big-desktop {
          z-index: 2;
        }
        &.left:before {
          transform: none;
        }
        &:before {
          content: '';
          background-image: url('./title-extension.png');
          background-size: 176px 34px;
          background-position: right top;
          background-repeat: no-repeat;
          height: 34px;
          width: 100%;
          display: block;
          position: absolute;
          //left: -25px;
          top: 0;
          z-index: 2;
          transform: scaleX(-1);
        }
        .bar-label {
          position: absolute;
          color: white;
          font-size: 10px;
          width: 100%;
          padding: 0 10px;
          z-index: 1;

          @include for-big-desktop {
            margin-top: 1px;
            font-size: 13px;
          }

          span {
            text-transform: uppercase;
            font-weight: bold;
            margin-right: 6px;
          }
          &.left {
            text-align: right;
          }
        }
        .bar {
          background-color: $red;
          max-width: 225px;
          height: 12px;
          transform: skewX(-45deg);
          margin: 0 1px 0 -1px;

          @include for-big-desktop {
            height: 20px;
            max-width: 320px;
          }

          &.left {
            transform: skewX(45deg);
            background-color: $blue;
            margin: 0 -1px 0 1px;
            float: right;
          }
          &.background {
            background-color: #1C1935;
            position: absolute;
            width: 100%;
          }
        }
      }
    }

    .active-location-header {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;

      .background-drop {
        position: absolute;
        top: 23px;
        width: 516px;
        height: 132px;
        background: linear-gradient(180deg, rgb(28, 26, 53) 0%, rgba(54, 38, 95, 0) 100%);
        background-position: center;
        background-size: cover;
        mask-image: linear-gradient(rgba(0, 0, 0, .3), transparent);

        @include for-big-desktop {
          top: 25px;
          width: 685px;
        }
      }
    }

    .drop-slots-wrapper {
      @include gameplayEmptySlot();
      //max-height: 250px;
      //overflow: auto;

      .drop-slot-component {
        &.drop-slot-active, &.drop-slot-item-hover {
          background: none;
        }
      }
    }
  }
}
