@import "../../../common/colors";
@import "../../../common/text";

.active-location-wrapper {
  flex-grow: 1;

  .active-location-header {
    height: 75px;
    margin: 0 20px;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    .location-stats-label {
      font-size: $font-size-extra-large;
      font-weight: bold;
    }

    .location-stats-wrapper span:not(:last-child) {
      margin-right: 15px;
    }
  }

  .drop-slots-wrapper {
    margin-top: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    .active-location-slot-wrapper {
      display: flex;
      width: 75px;
      height: 90px;
      width: 140px;
      height: 200px;
      .active-location-empty-slot {
        display: flex;
        flex-grow: 1;
        border: 1px solid #281F49;
        padding: 2px;
        .inner-empty-slot {
          flex-grow: 1;
          background: linear-gradient(to bottom, #101224, #1C133A);
          text-align: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          color: rgba(white, .2);
          font-size: 10px;
          border: 2px dashed #3B3065;
          b {
            display: block;
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }
  }
}
