@import "../../common/colors";
@import "../../common/text";

@mixin purple-line() {
  height: 1px;
  background: $dark-purple;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.locations-wrapper {
  height: 100%;
  min-width: 150px;
  display: flex;
  flex-direction: column;

  .buy-boosters-wrapper {
    margin-top: 17px;
    margin-bottom: 79px;

    button {
      margin-left: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 86px;
      height: 25px;
      font-size: 8px;
      text-transform: uppercase;
      color: $yellow;
      border: 2px solid $yellow;
      background: linear-gradient(180deg, #0A0F1D 0%, #1C133B 100%);
    }
  }

  .locations-header {
    padding: 14px 0;
    font-size: 8px;
    text-transform: uppercase;
    color: #fff;

    .bar-wrapper {
      position: relative;

      .bar-1 {
        width: 50px;
        @include purple-line;
      }

      .bar-2 {
        position: absolute;
        left: 47px;
        bottom: 7px;
        width: 20px;
        transform: rotate(-45deg);
        @include purple-line;
      }

      .bar-3 {
        width: 70px;
        left: 64px;
        position: absolute;
        bottom: 14px;
        @include purple-line;
      }

      .bar-4 {
        width: 20px;
        transform: rotate(45deg);
        left: 131px;
        position: absolute;
        bottom: 7px;
        @include purple-line;
      }

      .loc-text {
        position: absolute;
        left: 78px;
        font-weight: bold;
        bottom: 0;
      }
    }
  }

  .active-locations-wrapper {
    display: flex;
    height: 100%;
  }

  .locations-small-wrapper {

    .location {
      height: 40px;
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #ffbd3b;
      color: white;
      border: 1px solid $border-color;
      cursor: pointer;

      &.active {
        opacity: 0.7;
        pointer-events: none;
      }
    }
  }

  .drop-slots-wrapper {
    justify-content: flex-start;
    align-items: center;

    .location-slots-wrapper:not(.drop-slot-filled) {
      border: 2px dashed $purple;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 103px;
      height: 44px;
      background: linear-gradient(180deg, #0A0F1D 0%, #1C133B 100%);

      &:not(:last-child) {
        margin-bottom: 4px;
      }

      .empty-loc-slot {
        max-width: 65px;
        text-align: center;
        font-weight: bold;
        font-size: 8px;

        color: #FFFFFF;
        opacity: 0.2;
        text-shadow: 0 0 30px rgba(33, 35, 234, 0.7);
      }
    }
  }
}
