@import "../../common/colors";
@import "../../common/text";

.locations-wrapper {
  height: 100%;
  max-width: 135px;
  display: flex;
  flex-direction: column;

  .buy-boosters-wrapper {
    margin-top: 17px;
    margin-bottom: 79px;
  }

  .locations-header {
    padding: 14px 0;
    font-size: 8px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
  }

  .active-locations-wrapper {
    display: flex;
    height: 100%;
    padding-left: 15px;
  }

  .locations-small-wrapper {

    .location {
      height: 40px;
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #ffbd3b;
      color: white;
      border: 1px solid $border-color;
      cursor: pointer;

      &.active {
        opacity: 0.7;
        pointer-events: none;
      }
    }
  }

  .drop-slots-wrapper {
    justify-content: flex-start;

    .drop-slot-component {
      &.drop-slot-active, &.drop-slot-item-hover {
        background: inherit;
      }
    }

    .drop-slot-component:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}
