.small-button {
  position: relative;
  cursor: pointer;
  display: inline-flex;

  .small-button-text {
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    top: 9px;
    font-size: 12px;
    text-transform: uppercase;
  }

  &:hover {

    .small-button-text {
      color: darken(white, 15);
    }
  }
}
