.blocks-loading-bar {

  div {
    background-color: black;
    height: 2px;
    position: relative;
    &._0 {
      background-color: #62FB47;
    }
    &._1 {
      background-color: #FAFB51;
    }
    &._2 {
      background-color: #FB9B3D;
    }
    &._3 {
      background-color: #F95D34;
    }
    &._4 {
      background-color: #F91628;
    }
  }
}
