@import "../../common/colors";
@import "../../common/variables";
@import "../../common/text";

.tutorial-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &.shown {
    background-color: rgba(#090E1C, .8);
    .slider-wrapper {
      opacity: 1;
    }
  }

  .buttons-wrapper {
    height: 65px;
    width: 1000px;
    margin: 0 auto;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
    z-index: 1;
    button {
      margin: 20px 0;
    }
  }

  .slider-wrapper {
    height: 620px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    background-color: black;
    opacity: 0;
    transition: all .3s;

    .slide {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(100%);
      opacity: 0;
      transition: all .3s;
      &.in-view {
        transform: translateX(0%);
      }
      &.shown {
        transition-delay: .1s;
        opacity: 1;
      }
    }
  }
}
