@import "../../common/colors";
@import "../../common/variables";
@import "../../common/text";

.tutorial-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(#090E1C, .9);
  opacity: 0;
  transition: opacity .3s;
  &.shown {
    opacity: 1;
  }

  .slider-wrapper {
    height: 620px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    background-color: black;

    .slide {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(100%);
      opacity: 0;
      transition: all .3s;
      &.in-view {
        transform: translateX(0%);
      }
      &.shown {
        transition-delay: .1s;
        opacity: 1;
      }
      img {
        width: 100%;
      }
      .overlay-text {
        position: absolute;
        width: 550px;
        color: white;
        font-family: "Baloo", sans-serif;
        font-size: 16px;
        top: 120px;
        left: 220px;
        a {
          color: inherit;
          font-family: inherit;
          font-size: inherit;
        }
      }
    }


    .buttons-wrapper {
      position: absolute;
      bottom: 0;
      padding: 1px 0;
      width: 1000px;
      text-align: right;
      display: flex;
      justify-content: space-between;
      z-index: 1;
      button {
        position: relative;
        bottom: -2px;
        outline: none;
        margin: 0 0 2px -2px;

        &.skip {
          background: linear-gradient(to right, rgba(#0A0F1D, .7), rgba(#0A0F1D, 0));
          border: 0;
          margin: 0 0 2px 2px;
          bottom: 0;
        }
      }
    }
  }
}
