$black: #000;
$white: #fff;

$border-color: lightgray;

$yellow: #FF9D14;
$red: #FF1414;

$purple: #36265F;
$dark-purple: #312853;
$deep-dark-purple: #1C1C1C;

$green: #4A7420;
$red: #9E1D1D;
$yellow: #FF9D14;
$blue: #0086D1;

$power: #CE060D;
$misc: #3215E5;
$location: #3CC8CC;
$development: #9C01C2;
$project: #FF9D14;
$mining: #75341F;
$container: #4A7420;

$misc-gradient: linear-gradient(180deg, #3215E6 0%, rgba(49, 20, 230, 0.33) 100%);
$power-gradient: linear-gradient(180deg, #CE060D 0%, rgba(206, 5, 13, 0.43) 100%);
$location-gradient: linear-gradient(180deg, #3CC8CC 0%, rgba(60, 200, 204, 0.33) 100%);
$development-gradient: linear-gradient(180deg, #9F00C7 0%, rgba(95, 38, 79, 0.41) 100%);
$project-gradient: linear-gradient(180deg, #FF9D14 0%, rgba(255, 157, 20, 0.36) 100%);
$mining-gradient: linear-gradient(180deg, #75341F 0%, rgba(117, 52, 30, 0.57) 100%);
$container-gradient: linear-gradient(180deg, #4A7420 0%, rgba(74, 116, 32, 0.41) 100%);

