$black: #000;
$white: #fff;

$border-color: lightgray;

$yellow: #FF9D14;

$purple: #36265F;
$dark-purple: #312853;
$deep-dark-purple: #1C1C1C;

$green: #4A7420;
$red: #CE060D;
$yellow: #FF9D14;
$blue: #3CC8CC;
