$black: #000;
$white: #fff;

$border-color: lightgray;

$yellow: #FF9D14;

$purple: #36265F;
$dark-purple: #312853;
$deep-dark-purple: #1C1C1C;

$green: #4A7420;
$red: #9E1D1D;
$yellow: #FF9D14;
$blue: #0086D1;

$power: #CE060D;
$misc: #3215E5;
$location: #3CC8CC;
$development: #9C01C2;
$project: #FF9D14;
$mining: #75341F;
$container: #4A7420;
