@import "./colors";
@import "./variables";

@mixin purple-line() {
  height: 1px;
  background: $dark-purple;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.bar-wrapper {
  position: relative;

  &.reverse-bar {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    .bar-text {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }

  .bar-1 {
    width: 40px;
    @include purple-line;
  }

  .bar-2 {
    position: absolute;
    left: 37px;
    bottom: 7px;
    width: 20px;
    transform: rotate(-45deg);
    @include purple-line;
  }

  .bar-3 {
    width: 65px;
    left: 54px;
    position: absolute;
    bottom: 14px;
    @include purple-line;
  }

  .bar-4 {
    width: 20px;
    transform: rotate(45deg);
    left: 116px;
    position: absolute;
    bottom: 7px;
    @include purple-line;
  }

  .bar-text {
    position: absolute;
    left: 66px;
    font-weight: bold;
    bottom: 0;
    font-size: 8px;
    text-transform: uppercase;
    color: #fff;
  }
}

.orange-button {
  cursor: pointer;
  font-family: $font-secondary;
  margin-left: 17px;
  height: 25px;
  width: 86px;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  color: $yellow;
  border: 2px solid $yellow;
  background: linear-gradient(180deg, #0A0F1D 0%, #1C133B 100%);
  transition: 0.5s ease-in;

  &:hover {
    background: linear-gradient(180deg, #36265F 0%, #1C133B 100%);
  }
}

.home-button {
  padding: 8px 14px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

.notification-wrapper {
  position: fixed;
  transform: translateY(-80px);
  opacity: 0;
  transition: all .3s;
  text-align: center;
  width: 100%;
  pointer-events: none;
  z-index: 1000000;
  &.active {
    transform: translateY(10px);
    opacity: 1;
  }
  .notification-inner-wrapper {
    display: inline-block;
    width: 400px;
    min-height: 40px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    background-color: #eee;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(black, .2);
    &.success {
      background-color: #4a9c20;
      color: white;
    }
    &.error {
      background-color: #d33133;
      color: white;
    }
  }
}
