@import "variables";

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  display: inline-block;
  cursor: pointer;
}
/* flip the pane when hovered */
.flipper, .flip-container.hover .flipper {
  transform: translateX(-160%) rotateY(180deg);
  transform-origin: 127% center;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
  height: 227px;
  width: 154px;
  transform: translateX(0%) rotateY(0deg);

  @include for-big-desktop {
    height: 320px;
    width: 217px;
  }
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
