@import './colors';
@import './variables';

.form-name {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.form-wrapper {
  width: 100%;
  position: relative;
  margin-top: 20px;

  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  .form-item-wrapper {
    position: relative;
    margin-bottom: 35px;

    .form-item {
      border: 2px solid #E2E2E2;
      border-radius: 3px;
      padding: 19px 0 19px 25px;
      width: 100%;
      font-size: 14px;
    }

    .form-item-error {
      border-color: $lightRed;
      outline-color: $lightRed;
    }

    div.form-item-error {
      position: absolute;
      color: $lightRed;
      top: 65px;
    }
  }

  .submit-error {
    font-size: 18px;
    margin-bottom: 35px;
    color: $lightRed;
  }

  .submit-button {
    padding: 18px 32px;
    width: 100%;
    @include flex-center;

    .loader-wrapper {
      margin-right: 15px;
    }
  }
}
