@import "./colors";

$card-width: 63.5px; // export this to common
$card-height: 88.9px; // export this to common

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Baloo', sans-serif;

$project-size: 50px;
$project-size-desktop: 70px;

$border-radius-modal: 19px;

@mixin for-big-desktop {
  @media (min-width: 1920px) { @content; }
}

@mixin fancy-button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #55acee;
  box-shadow: 0 5px 0 0 #3C93D5;
  border: 0;
  cursor: pointer;
  outline: none;

  &:disabled {
    opacity: 0.7;
    pointer-events: none;
  }

  &:hover {
    background-color: #6FC6FF;
  }

  &:active {
    transform: translate(0, 5px);
    box-shadow: 0 1px 0 0;
  }
}

@mixin overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@mixin gameplayEmptySlot {
  margin-top: 70px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .active-location-slot-wrapper {
    display: flex;
    width: 70px;
    height: 90px;
    margin: 0 15px 20px;
    position: relative;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin elementInAndOut {
  animation: fadeinout 2s linear forwards;
  opacity: 0;
  z-index: 20;
  font-family: $font-secondary;
  font-size: 12px;
  color: $yellow;
  text-shadow: 0 0 13px rgba(255, 157, 20, 0.7);

  @keyframes fadeinout {
    50% { opacity: 1; }
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}
